<mat-card>
    <mat-card-title>
        Full Name: {{user?.firstName}} {{user?.lastName}}
    </mat-card-title>
    <mat-card-subtitle>Email: {{user.email}}</mat-card-subtitle>
    <mat-card-content>
        <div class="cd-wrapper"  *ngFor="let role of roles">
            <mat-checkbox color='primary'>
                {{role.name}}
            </mat-checkbox>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" style="margin: 5px;">APPLY CHANGES</button>
        <button mat-raised-button color="accent" style="margin: 5px;">CANCEL</button>
      </mat-card-actions>
</mat-card>