<mat-card>
    <mat-card-title>
       <span>Full Name: {{user?.firstName}} {{user?.lastName}}</span>
       <span *ngIf="containsAdminRole"> | ADMIN</span>  
    </mat-card-title>
    <mat-card-subtitle>Email: {{user?.email}}</mat-card-subtitle>
    <mat-card-content>
        <div class="cd-wrapper"  *ngFor="let role of roles">
            <mat-checkbox color='primary' [checked]="role?.isMatched" [disabled]="role?.name === userRole" (change)="onChange($event, role?.id)">
                {{role?.name}}
            </mat-checkbox>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <button class="action__button" mat-raised-button color="primary" (click)="onSubmit()">APPLY CHANGES</button>
        <button class="action__button" mat-raised-button color="accent" (click)="onCancel()">CANCEL</button>
      </mat-card-actions>
</mat-card>