<div class="parent-container" fxLayout="column" fxLayoutAlign="end center">
    <div class="toolbar-container">
        <mat-card class="light">
            <div class="header-div" fxLayout="row | wrap" fxLayoutAlign="center center">
                <mat-card-header>
                    <mat-card-title class="view-card-title">
                        <h1 style="color: teal; letter-spacing: 2px; font-size: 35px;"><b>Users</b></h1>
                    </mat-card-title>
                </mat-card-header>
            </div>
            <mat-toolbar>
                <mat-toolbar-row style="display: flex; justify-content: flex-end;">
                    <div class="toolbar-row-div" style="width: 100%;" fxLayout="row | wrap"
                        fxLayoutAlign="space-between center">
                        <div class="mat-form-field-div">
                            <mat-form-field>
                                <mat-placeholder>
                                    <mat-icon>search</mat-icon>
                                    Search
                                </mat-placeholder>
                                <input matInput [formControl]="searchInput" (keyup.enter)="onSearchClick()">
                            </mat-form-field>
                            <span class="title-spacer"></span>
                        </div>
                        <div class="toolbar-buttons-div">
                            <button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="loadUsersFromApi()">
                                <mat-icon>refresh</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-toolbar-row>
            </mat-toolbar>
        </mat-card>
    </div>

    <div class="table-container" fxLayout="row" fxLayoutAlign="center start">

        <mat-table #table [dataSource]="pagedUsers?.items" matSort matSortActive="email" matSortDirection="asc">

            <ng-container matColumnDef="firstName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> First Name </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.firstName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="lastName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.lastName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="email">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="userName">
                <mat-header-cell *matHeaderCellDef mat-sort-header> UserName </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.userName}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="age">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Age </mat-header-cell>
                <mat-cell *matCellDef="let user"> {{user.age}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef style="justify-content:right;">
                    <button mat-button style="color:white; background-color:teal" (click)="onResetClick()">Reset</button>
                </mat-header-cell>
                <mat-cell *matCellDef="let user" style="justify-content:right;">
                    <button mat-button style="background-color:teal; min-height: 30px;" [disabled]="hasNotAdminRole" (click)="openManageRolesDialog(user?.id)">Manage Roles</button>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
        </mat-table>
    </div>
    <div class="paginator-div">
        <mat-paginator [length]="pagedUsers?.totalItems" [pageSizeOptions]="[5, 10, 25, 50]" pageSize="25">
        </mat-paginator>
    </div>
</div>