
<div *ngIf="showSpinner" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="order === null" class="empty-cart">
    <h1>Your cart is empty</h1>
    <h2 class="start-shopping" (click)="openHomePage()">Start shopping now !</h2>
</div>
<div class="path">
    <div class="path-item">
        <span class="link" [routerLink]="['/home']">Home</span>
        <mat-icon>navigate_next</mat-icon>
    </div>
    <div>
        <span>Shopping Cart</span>
    </div>
</div>
<div class="title">
    <div class="mat-display-1">MY CART</div>
</div>
<mat-divider></mat-divider>
<div class="list-container">
    <mat-list>
        <mat-list-item class="list-item" *ngFor="let item of orderItems">
            <div class="list-item-container" fxLayout="row" fxLayoutAlign="center center" >
                <div class="image-container" fxFlex="20">
                    <img [src]="staticFilesUrl + item?.puzzle.images[0].fileName" alt="item?.puzzle.name">
                </div>
                <div class="order-item-info" fxFlex="80" fxLayout="row" fxLayoutAlign="center stretch">
                    <div class="puzzle-details" fxFlex="45" fxLayout="column" fxLayoutAlign="center stretch">
                        <span class="puzzle-name">{{item?.puzzle.name}}</span>
                        <span class="puzzle-color">{{item.puzzle?.color}}</span>
                    </div>
                    <div class="quantity" fxFlex="30" fxLayout="row" fxLayoutAlign="center center">
                        <div class="increment-decrement-button" fxLayoutAlign="start center" >
                            <button mat-button color="primary" (click)="decrementQuantity(item)">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                        <div>
                            <input matInput type="number" placeholder="1" min="1" [max]="item?.puzzle.availableInStock" [(ngModel)]="item.quantity">
                        </div>
                        <div class="increment-decrement-button" fxLayoutAlign="start center">
                            <button mat-button color="primary" (click)="incrementQuantity(item)">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="price" fxFlex="15" fxLayout="row" fxLayoutAlign="center center">
                        <span>{{item?.cost | currency:'USD'}}</span>
                    </div>
                    <div fxFlex="10" fxLayout="column" fxLayoutAlign="center center">
                        <button mat-mini-fab color="primary" class="clear-button" (click)="onDeleteItem(item)">
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>
<div *ngIf="order !== null" fxLayout="row" fxLayoutAlign="space-between center" class="footer">
    <div class="total">Total: {{total | currency:'USD'}}</div>
    <div class="place-order">
        <button mat-button (click)="checkout()">PLACE ORDER</button>
    </div>
</div>