<div class="page-container" fxLayout="row | wrap" fxLayoutAlign="center start" fxLayoutGap="1%">
    <div>
        <form novalidate [formGroup]="emailForm" class="contact-form">
            <span>Contact Information</span>
            <mat-form-field appearance="outline" class="field">
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </form>
        <form novalidate [formGroup]="customerForm" class="shipping-address-form">
            <span>Shipping Address</span>
            <div fxLayout="row | wrap" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" class="name">
                    <input matInput placeholder="First Name" formControlName='firstName'>
                </mat-form-field>
                <mat-form-field appearance="outline" class="name">
                    <input matInput placeholder="Last Name" formControlName="lastName">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="field">
                <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <div fxLayout="row | wrap" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" class="name">
                    <input matInput placeholder="Country" formControlName="country">
                </mat-form-field>
                <mat-form-field appearance="outline" class="name">
                    <input matInput placeholder="Postal Code" formControlName="postalCode">
                </mat-form-field>
                <mat-form-field appearance="outline" class="field">
                    <input matInput placeholder="Phone" formControlName="phone">
                </mat-form-field>
            </div>
        </form>
    </div>
    <div class="order-details">

    </div>
</div>