<div *ngIf="showSpinner" class="spinner">
    <mat-spinner></mat-spinner>
</div>
<div *ngIf="pendingOrder === null" class="empty-cart">
    <img src="../../assets/images/complete.png">
    <span class="span-empty-page">Your order is being processed !</span>
    <span class="span-empty-page span-link" [routerLink]="['/home']">Choose some puzzles right now !</span>
</div>
<div *ngIf="pendingOrder !== null" class="page-container" fxLayout="row | wrap" fxLayoutAlign="center start" fxLayoutGap="2%">
    <div>
        <form novalidate [formGroup]="emailForm" class="contact-form">
            <span>Contact Information</span>
            <mat-form-field appearance="outline" class="field">
                <input matInput placeholder="Email" formControlName="email">
            </mat-form-field>
        </form>
        <form novalidate [formGroup]="customerForm" class="shipping-address-form" (ngSubmit)="onSubmit()">
            <span>Shipping Address</span>
            <div fxLayout="row | wrap" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" class="name">
                    <input matInput placeholder="First Name" formControlName='customerFirstName'>
                </mat-form-field>
                <mat-form-field appearance="outline" class="name">
                    <input matInput placeholder="Last Name" formControlName="customerLastName">
                </mat-form-field>
            </div>
            <mat-form-field appearance="outline" class="field">
                <input matInput placeholder="Address" formControlName="address">
            </mat-form-field>
            <mat-form-field appearance="outline" class="field">
                <input matInput placeholder="City" formControlName="city">
            </mat-form-field>
            <div fxLayout="row | wrap" fxLayoutAlign="center center">
                <mat-form-field appearance="outline" class="name">
                    <mat-select placeholder="Country" formControlName="country">
                        <mat-option *ngFor="let country of countries" [value]="country?.name">
                            <div class="country-select">
                                <span>{{country?.name}}</span>
                                <img [src]="country?.flag">
                            </div>
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="outline" class="name">
                    <input matInput placeholder="Postal Code" formControlName="postalCode">
                </mat-form-field>
                <mat-form-field appearance="outline" class="field">
                    <input matInput placeholder="Phone" formControlName="phone">
                </mat-form-field>
            </div>
            <div class="buttons">
                <button mat-raised-button type="button" (click)="onReturnClick()">
                    <mat-icon>keyboard_arrow_left</mat-icon>
                    <span>Return to Cart</span>
                </button>
                <button class="continue-button" mat-raised-button  >Continue</button>
            </div>
        </form>
    </div>
    <div class="order-details">
        <mat-card>
            <mat-card-content>
                <mat-list>
                    <mat-list-item *ngFor="let item of pendingOrder?.orderItems">
                        <div class="list-item-container">
                            <div [matBadge]="item?.quantity">
                                <img [src]="staticFileUrl + item?.puzzle.images[0].fileName">
                            </div>
                            <div class="order-item-details">
                                <div class="puzzle-name-color">
                                    <span class="puzzle-name"> {{item?.puzzle.name}} </span>
                                    <span class="puzzle-color">{{item?.puzzle.color}}</span>
                                </div>
                                <h3>{{item?.cost | currency:'USD'}}</h3>
                            </div>
                        </div>
                    </mat-list-item>
                </mat-list>
            </mat-card-content>
            <mat-card-actions>
                <mat-divider></mat-divider>
                <div class="amount">
                    <span>Subtotal:</span>
                    <span> {{pendingOrder?.totalCost |currency:'USD'}} </span>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
</div>