<div *ngIf="showSpinner" style="position: absolute; top: 50%; left: 50%; right: 50%;">
    <mat-spinner></mat-spinner>
</div>
<div class="parent-container" fxLayout="column" fxLayoutAlign="end center">
	<div class="toolbar-container">
		<mat-card>
			<div class="header-div" fxLayout="row | wrap" fxLayoutAlign="center center">
				<mat-card-header>
					<mat-card-title><h1 style="color: teal; letter-spacing: 2px; font-size: 35px;"><b>PuzzleTypes</b></h1></mat-card-title>
				</mat-card-header>
			</div>
			<mat-toolbar>
				<mat-toolbar-row>
					<div class="toolbar-row-div" fxLayout="row | wrap" fxLayoutAlign="space-between center">
						<div class="toolbar-buttons-div">
							<button mat-mini-fab color="primary" style="margin-right:10px;"
								(click)="addEditPuzzleTypeDialog(0)">
								<mat-icon>add</mat-icon>
							</button>
							<button mat-mini-fab style="margin-right:10px; background-color:#a28b6e">
								<mat-icon>search</mat-icon>
							</button>
							<button mat-mini-fab style="margin-right:10px; background-color:darkgray"
								(click)="loadPuzzleTypes()">
								<mat-icon>refresh</mat-icon>
							</button>
						</div>
					</div>
				</mat-toolbar-row>
			</mat-toolbar>
		</mat-card>
	</div>

	<div class="table-container" fxLayout="row" fxLayoutAlign="center start">
		<mat-table #table [dataSource]="puzzleTypes" class="mat-elevation-z8">

			<!-- Name Column -->
			<ng-container matColumnDef="title">
				<mat-header-cell *matHeaderCellDef> TypeName </mat-header-cell>
				<mat-cell *matCellDef="let puzzleType"> {{puzzleType?.title}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="isRubicsCube">
				<mat-header-cell *matHeaderCellDef> IsRubik's Cube </mat-header-cell>
				<mat-cell *matCellDef="let puzzleType"> {{puzzleType?.isRubicsCube}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="isWca">
				<mat-header-cell *matHeaderCellDef> IsWca </mat-header-cell>
				<mat-cell *matCellDef="let puzzleType"> {{puzzleType?.isWca}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="difficultyLevel">
				<mat-header-cell *matHeaderCellDef> DifficultyLevel </mat-header-cell>
				<mat-cell *matCellDef="let puzzleType"> {{puzzleType?.difficultyLevel}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef style="justify-content:right;">
					<span>Edit/Delete</span>
				</mat-header-cell>
				<mat-cell *matCellDef="let puzzleType" style="justify-content:right;">
					<button mat-mini-fab class="edit-button" (click)="addEditPuzzleTypeDialog(puzzleType?.id)">
						<mat-icon>edit</mat-icon>
					</button>
					<button mat-mini-fab class="delete-button" color="accent" (click)="onDelete(puzzleType?.id, puzzleType?.title)">
						<mat-icon>delete</mat-icon>
					</button>
				</mat-cell>
			</ng-container>
			<mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
		</mat-table>
	</div>
</div>