<div class="single">

    <div fxLayout="column" fxLayoutAlign="center start" style="margin-top: 50px; margin-bottom: 100px;">

        <div class="path-div" fxLayout="row" fxLayoutAlign="start center">

            <div class="path-div-item">
                <span class="txt">Home</span>
                <mat-icon>navigate_next</mat-icon>
            </div>

            <div class="path-div-item">
                <span class="txt" (click)="navigateToCollections()">{{queryParam}}</span>
                <mat-icon>navigate_next</mat-icon>
            </div>
            <div>{{puzzle?.name}}</div>
        </div>

        <div class="container" fxLayout="row | wrap" fxLayoutAlign="center start" fxLayoutGap="5%">

            <div class="main-image-part-div" fxLayout="column">
                <div class="large-image-div" fxFlex="80">
                    <carousel>
                        <ng-container *ngFor="let image of puzzle?.images">
                            <ng-container *carouselItem>
                                    <img class="item" [src]="staticFilesUrl + image?.fileName" alt="">
                                    <!-- <div class="item">{{ item.title }}</div> -->
                            </ng-container>
                        </ng-container>
                    </carousel>
                    <!-- <img [src]="staticFilesUrl + puzzle?.images[0].fileName" alt=""> -->
                </div>

                <div class="little-images-list-div" fxFlex="20" fxLayout="row" fxLayoutAlign="start center">
                    <div class="little-image-div" *ngFor="let image of puzzle?.images">
                        <img class="little-imageitem" [src]="staticFilesUrl + image?.fileName" alt="">
                    </div>
                </div>
            </div>

            <div class="order-details-div" fxLayout="column" fxLayoutAlign="start start">
                <div class="puzzle-name-div" fxLayoutAlign="start center">{{puzzle?.name}}</div>

                <div class="puzzle-color-div" fxLayout="column" fxLayoutAlign="center start">
                    <div class="color-title-div">Plastic color</div>
                    <div class="color-radio-buttons-div">
                        <mat-radio-group>
                            <mat-radio-button value="1">Stickerless</mat-radio-button>
                            <mat-radio-button value="2">Black</mat-radio-button>
                        </mat-radio-group>
                    </div>
                </div>
                <div class="puzzle-prica-div" fxLayoutAlign="start center">{{puzzle?.price | currency:'USD'}}</div>

                <div class="increment-decrement-quantity-outer-div" fxLayout="column" fxLayoutAlign="center start">
                    <div class="increment-decrement-quantity-inner-div" fxLayout="row" fxLayoutAlign="start center">
                        <div class="increment-decrement-button" fxLayoutAlign="start center">
                            <button mat-stroked-button color="primary" (click)="decrementQuantity()">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                        <div>
                            <input matInput type="number" placeholder="1" min="1" max="100" [(ngModel)]="quantity">
                        </div>
                        <div class="increment-decrement-button" fxLayoutAlign="start center">
                            <button mat-stroked-button color="primary" (click)="incrementQuantity()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                    </div>
                    <div class="subtotal-amount-div" fxLayoutAlign="start center">Subtotal:
                        {{subtotal | currency:'USD'}}</div>
                </div>

                <div class="add-to-cart-button-div" fxLayoutAlign="center center">
                    <button mat-raised-button>Add to cart</button>
                </div>
            </div>


        </div>

    </div>

    <div class="puzzle-details-description-div" fxLayout="row | wrap" fxLayoutAlign="center start">
        <div class="puzzle-characteristics-div" fxLayout="column" fxLayoutAlign="start center">
            <div class="details-text-div" fxLayoutAlign="center center">Details</div>
            <div class="details-list-container" fxLayout="column" fxLayoutAlign="start center">

                <div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Manufacturer</div>
                    <div>{{puzzle?.manufacturer}}</div>
                </div>

                <div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>PuzzleType</div>
                    <div>{{puzzle?.puzzleType}}</div>
                </div>
                <div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Difficulty</div>
                    <div>{{difficultyLevel}}</div>
                </div>
                <div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Material</div>
                    <div>{{puzzle?.materialType}}</div>
                </div>
                <div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Weight</div>
                    <div>{{puzzle?.weight}} g</div>
                </div>
                <div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>Magnets</div>
                    <div *ngIf="puzzle?.isMagnetic">Yes</div>
                    <div *ngIf="! puzzle?.isMagnetic">No</div>
                </div>
            </div>
        </div>
        <div class="puzzle-description-div" fxLayout="column" fxLayoutAlign="start center">
            <div class="description-header-div" fxLayoutAlign="center center">Description</div>
            <div class="description-text-div">
                <p>{{puzzle?.description}}</p>
            </div>
        </div>
    </div>


    
</div>