@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');



.item {
    padding: 0;
    width: 100vw;
    height: 300px;
    margin-right: 100px;
    transition: transform .4s;
}

.item:hover{
    transform: scale(1.2);
}

.path-div{
    display: flex;
    align-items: center;
    width: fit-content; 
    height: 30px; 
    margin-left: 150px;
    margin-bottom: 20px;
}

.path-div-item{
    display: flex; 
    align-items: center
}

.txt{
    vertical-align: top;
    &:hover{
        cursor: pointer;
    text-decoration: underline;
    }
}

.container{    
    margin-top: 30px;
    width: 100%;
}

.main-image-part-div{
    position: relative; 
    width: 600px;
    height: 500px;
}

.large-image-div{
    position: relative;
    width: 600px;

    &img{
        width: inherit;
        height: 400px;
    }
}


.order-details-div{
    position: relative; 
    height: 600px;
    width: 500px;
}

.puzzle-name-div{
    width: 100%; 
    height: 80px; 
    font-size: 30px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    font-family: 'Inconsolata', monospace;
    line-height: 1.5;
}

.rating{
    mat-icon{
        color: #d9d91e;
    }
    
    span{
        font-family: 'Inconsolata', monospace;
        font-size: 25px;
        font-weight: 500;
    }
} 

.puzzle-color-div{
    width: 100%; 
    height: 100px; 
    margin-bottom: 20px;
}

.color-title-div{
    font-size: 20px; 
    font-family: 'Inconsolata', monospace;
    margin-bottom: 10px; 
    height: fit-content;
}

.color-radio-buttons-div{
    width: 100%;
}

mat-radio-button{
    margin-right: 5px;
}

.puzzle-price-div{
    height: 50px; 
    font-size: 40px; 
    margin-bottom: 20px;
}

.increment-decrement-quantity-outer-div{
    width: 100%; 
    margin-bottom: 40px;
}

.increment-decrement-quantity-inner-div{
    width: 100%; 
    height: 90px;
}

.increment-decrement-quantity-inner-div input{
    width: 50px; 
    height: 30px;
    text-align: center;
    padding-left: 10px;
    font-weight: 700;
    font-size: 20px;
}

.increment-decrement-button{
    height: 40px;
    &button{
        width: 40px; 
        height: 40px;
    }
}


.subtotal-amount-div{
    font-family: 'Inconsolata';
    font-size: 18px;
    width: 100%; 
    height: 30px;
}

.add-to-cart-button-div{
    width: 100%; 
    height: 100px; 
}

.add-to-cart-button-div button{
    width: 100%;
    height: 60px; 
    font-size: 25px;
    color: white;
    // background-color: #38ad27
}

.puzzle-details-description-div{
    width: 100%; 
    margin-top: 25px;
    margin-bottom: 150px;
}

.puzzle-characteristics-div{
    height: 300px; 
    width: 500px;
}

.details-text-div{
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    border-bottom: 1px solid black;
    height: 20%; 
    width: 80%;
}

.details-list-container{
    border-left: 1px solid black;
    border-right: 1px solid black;
    width: 80%; 
    height: 70%; 
    margin-bottom: 10px;
}

.details-list-item{
    border-bottom: 1px solid black;
    padding: 5px; 
    width: 100%; 
    height: 20%; 
}

.property-value{
    font-weight: 500;

}

.puzzle-description-div{
    height: fit-content; 
    width: 700px;
}

.description-header-div{
    height: 10%; 
    width: 80%; 
    margin-top: 20px; 
    margin-bottom: 10px; 
    font-size: 25px;
    font-family: 'Inconsolata', monospace;
}

.description-text-div{
    width: 90%; 
    height: fit-content; 
    font-size: 18px;
}

button, mat-radio-button{
    font-family: 'Inconsolata';
}
