<div class="single" fxLayout="column | wrap" fxLayoutAlign="start center">

	<div fxLayout="column" fxLayoutAlign="center start" style="margin-top: 50px; margin-bottom: 70px;">

		<div class="path-div" fxLayout="row" fxLayoutAlign="start center">

			<div class="path-div-item">
				<span class="txt">Home</span>
				<mat-icon>navigate_next</mat-icon>
			</div>

			<div class="path-div-item">
				<span class="txt" (click)="navigateToCollections()">{{queryParam}}</span>
				<mat-icon>navigate_next</mat-icon>
			</div>
			<div style="font-family: 'Montserrat', sans-serif;">{{puzzle?.name}}</div>
		</div>

		<mat-divider></mat-divider>

		<div class="container" fxLayoutGap="10%">

			<div class="main-image-part-div" fxLayout="column">
				<div class="large-image-div" fxFlex="80">
					<gallery class="images-gallery" [items]="images" thumbPosition="bottom" imageSize="contain" [counter]="false">
					</gallery>
				</div>
			</div>

			<div class="order-details-div" fxLayout="column" fxLayoutAlign="start start">
				<div class="puzzle-name-div" fxLayoutAlign="start center">{{puzzle?.name}}</div>

				<div class="rating" style="display: flex; justify-content: flex-start; align-items: center;">
					<mat-icon *ngFor="let starId of ratingArr; index as i">{{showStar(i)}}</mat-icon>
					<span>{{puzzle.rating}}</span>
				</div>

				<div class="puzzle-color-div" fxLayout="column" fxLayoutAlign="center start">
					<div class="color-title-div">Plastic color</div>
					<div class="color-img-div">
						<img [src]="'../../assets/images/puzzle-colors/' + puzzle?.color.trim() + '.png'">
					</div>
				</div>
				<div class="availability">
					<label class="sign">Availability</label>
					<span class="in-stock" *ngIf="puzzle?.availableInStock > 0">In stock <span class="units-number">({{puzzle?.availableInStock}} units)</span></span>
					<span class="out-of-stock" *ngIf="puzzle.availableInStock < 1">Out of stock</span>
				</div>
				<div class="puzzle-price-div" fxLayoutAlign="start center">{{puzzle?.price | currency:'USD'}}</div>

				<div class="increment-decrement-quantity-outer-div" fxLayout="column" fxLayoutAlign="center start">
					<div class="increment-decrement-quantity-inner-div" fxLayout="row" fxLayoutAlign="start center">
						<div class="increment-decrement-button" fxLayoutAlign="start center">
							<button mat-stroked-button color="primary" (click)="decrementQuantity()">
								<mat-icon>remove</mat-icon>
							</button>
						</div>
						<div>
							<input matInput type="number" placeholder="1" min="1" max="100" [(ngModel)]="quantity">
						</div>
						<div class="increment-decrement-button" fxLayoutAlign="start center">
							<button mat-stroked-button color="primary" (click)="incrementQuantity()" [disabled]="quantity >= puzzle?.availableInStock">
								<mat-icon>add</mat-icon>
							</button>
						</div>
					</div>
					<div class="subtotal-amount-div" fxLayoutAlign="start center">Subtotal:
						<span style="margin-left: 5px;"> {{subtotal | currency:'USD'}}</span>
					</div>
				</div>

				<div class="add-to-cart-button-div" fxLayoutAlign="center center" (click)="addToCart()">
					<button mat-raised-button color="primary">
						<mat-icon>shopping_cart</mat-icon>
						Add to cart
					</button>
				</div>
			</div>
		</div>
	</div>
	
	<div style="width: 100%;">
		<mat-divider></mat-divider>
	</div>


	<div class="puzzle-details-description-div" fxLayout="row | wrap" fxLayoutAlign="center start" fxLayoutGap="0.5%">
		<div class="puzzle-characteristics-div" fxLayout="column" fxLayoutAlign="start center">
			<div class="details-text-div" fxLayoutAlign="center center">Product Specifications</div>
			<div class="details-list-container" fxLayout="column" fxLayoutAlign="start center">

				<div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
					<div>Manufacturer</div>
					<div class="property-value">{{puzzle?.manufacturer}}</div>
				</div>

				<div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
					<div>PuzzleType</div>
					<div class="property-value">{{puzzle?.puzzleType}}</div>
				</div>
				<div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
					<div>Difficulty</div>
					<div class="property-value">{{difficultyLevel}}</div>
				</div>
				<div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
					<div>Material</div>
					<div class="property-value">{{puzzle?.materialType}}</div>
				</div>
				<div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
					<div>Weight</div>
					<div class="property-value">{{puzzle?.weight}} g</div>
				</div>
				<div class="details-list-item" fxLayout="row" fxLayoutAlign="space-between center">
					<div>Magnets</div>
					<div class="property-value" *ngIf="puzzle?.isMagnetic">Yes</div>
					<div class="property-value" *ngIf="! puzzle?.isMagnetic">No</div>
				</div>
			</div>
		</div>
		<div class="puzzle-description-div" fxLayout="column" fxLayoutAlign="start center">
			<div class="description-header-div" fxLayoutAlign="center center">Description</div>
			<div class="description-text-div">
				<p>{{puzzle?.description}}</p>
			</div>
		</div>
	</div>

	<mat-divider></mat-divider>

	<div fxLayout="row | wrap" fxLayoutAlign="center start" style=" width: 100%; margin-top: 20px; margin-bottom: 20px;">
		<div class="customer-reviews" style="display: flex; flex-direction: column; align-items: flex-start; width: 900px;">
			<span (click)="toggleReviews()">Customer Reviews</span>
			<div></div>
		</div>
		<div style="width: 300px;">
			<button mat-raised-button color="primary">Write A review</button>
		</div>
	</div>
	<div style="width: 100%;">
		<mat-divider></mat-divider>
	</div>

	<div class="test-list" style="width: 80%;">
		<mat-card>
			<mat-card-header style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; margin-bottom: 10px;">
				<div style="display: flex; justify-content: flex-start; align-items: center;">
					<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon>
				</div>
				<mat-card-subtitle>Reviewer Name | Date</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
				<span style="text-transform: uppercase; font-weight: 700; font-size: 16px; font-family: 'Arimo', sans-serif; margin-bottom: 10px;">Review Title</span>
				<p style="font-family: 'Arimo', sans-serif; font-size: 13px; line-height: 1.5;">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse dolor eaque animi odio delectus, ratione deserunt excepturi possimus molestiae, atque, dolores iure cum minima rerum illo praesentium alias distinctio sed!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores odio eveniet perferendis dolore tempora. Placeat id unde corporis reiciendis maiores, provident perferendis incidunt sint. Minima, quia ratione! Voluptates, voluptas illo.
				</p>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; margin-bottom: 10px;">
				<div style="display: flex; justify-content: flex-start; align-items: center;">
					<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon>
				</div>
				<mat-card-subtitle>Reviewer Name | Date</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
				<span style="text-transform: uppercase; font-weight: 700; font-size: 16px; font-family: 'Arimo', sans-serif; margin-bottom: 10px;">Review Title</span>
				<p style="font-family: 'Arimo', sans-serif; font-size: 13px; line-height: 1.5;">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse dolor eaque animi odio delectus, ratione deserunt excepturi possimus molestiae, atque, dolores iure cum minima rerum illo praesentium alias distinctio sed!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores odio eveniet perferendis dolore tempora. Placeat id unde corporis reiciendis maiores, provident perferendis incidunt sint. Minima, quia ratione! Voluptates, voluptas illo.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero obcaecati dolorem saepe? Natus et, tenetur molestias nihil, recusandae iste voluptatum aspernatur saepe quod deserunt corrupti sunt, sed neque. Ullam.
				</p>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; margin-bottom: 10px;">
				<div style="display: flex; justify-content: flex-start; align-items: center;">
					<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon>
				</div>
				<mat-card-subtitle>Reviewer Name | Date</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
				<span style="text-transform: uppercase; font-weight: 700; font-size: 16px; font-family: 'Arimo', sans-serif; margin-bottom: 10px;">Review Title</span>
				<p style="font-family: 'Arimo', sans-serif; font-size: 13px; line-height: 1.5;">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores odio eveniet perferendis dolore tempora. Placeat id unde corporis reiciendis maiores, provident perferendis incidunt sint. Minima, quia ratione! Voluptates, voluptas illo.
				</p>
			</mat-card-content>
		</mat-card>
		
	</div>
</div>