.save-button{
    margin-right:10px;
    background-color: green;
}

.cancel-button{
    margin-right:10px;
    background-color: crimson;
}

.images-div{
    position: relative;
}

.image-item{
    position: relative;
    height: 150px;
    width: 180px;
    margin: 20px;
}

.image-item img {
    height: 150px;
    width: 180px;
}

.thumbnail{
    position:relative;
    top:-25px;
    left:-35px;
    width:500px;
    height:auto;
    display:block;
    z-index:999;
}

mat-form-field{
    width: fit-content; margin-right: 5px;
}

.form-field-30{
    width: 30%;
}

.form-field-90{
    width: 90%;
}
