<!-- <div class="mat-display-3 puzzle-typename-header">Кубик Рубика</div> -->

<div class="big-container" fxLayout="row | wrap" fxLayoutAlign="space-between start">
  <div class="category-list" >
    <!-- <img src="../../assets/moyugtsm.jpg"> -->
  
      <mat-accordion multi="true">
          <mat-expansion-panel class="mat-elevation-z0 exp-panel">
              <mat-expansion-panel-header  class="exp-panel-header">
               <span style="padding-top: 10px;">Категории</span> 
              </mat-expansion-panel-header>
              <div style="padding-top: 10px;" *ngFor="let puzzleType of puzzleTypes">{{puzzleType.title}}</div>
            </mat-expansion-panel>
          
            <mat-expansion-panel class="mat-elevation-z0 exp-panel">
              <mat-expansion-panel-header class="exp-panel-header">
                  <span style="padding-top: 10px;">Производители</span>
              </mat-expansion-panel-header>
              <div style="padding-top: 10px;" *ngFor="let manufacturer of manufacturers">{{manufacturer.name}}</div>
            </mat-expansion-panel>
  
            <mat-expansion-panel class="mat-elevation-z0 exp-panel">
              <mat-expansion-panel-header class="exp-panel-header">
                <span style="padding-top: 10px;">Цвет Пластика</span>
              </mat-expansion-panel-header>
              <div style="padding-top: 10px;" *ngFor="let color of puzzleColors">{{color.title}}</div>
            </mat-expansion-panel>
      </mat-accordion>
  </div>

  <div class="list-with-header-div" fxLayout="column | wrap" fxLayoutAlign="start start">

    <div class="list-header" fxLayout="column | wrap" fxLayoutAlign="space-between start">
      <div class="list-header-puzzle-type" fxLayout="row" fxLayoutAlign="start center">3x3x3 Speed Cubes</div>
      <div class="list-header-filter-sort-info"></div>
    </div>

    <div class="list-container" fxLayout="row | wrap" fxLayoutAlign="center center">
        <mat-grid-list rowHeight="400px" cols="3" gutterSize="50px">
  
          <mat-grid-tile class="mat-elevation-z8" fxLayout="row | wrap" fxLayoutAlign="center center" *ngFor="let puzzle of puzzles">
            
            <div class="grid-tile-parent-div" fxLayout="column | wrap" fxLayoutAlign="start center">
              <div class="image-div">
                <img [src]="puzzle.images[0].fileName">
              </div>
              <div class="manufacturer-name-div" fxLayoutAlign="center center">{{puzzle.manufacturer}}</div>
              <div class="puzzle-name-div" fxLayoutAlign="center center">{{puzzle.name}}</div>
              <div class="puzzle-price-div" fxLayout="row | wrap" fxLayoutAlign="space-between center">
                <div class="price-div" fxLayoutAlign="center center">${{puzzle.price}}</div>
                <div class="ad-to-cart-div">
                  <button mat-button></button>
                </div>
              </div>
            </div>
  
          </mat-grid-tile>
  
        </mat-grid-list>
    </div>

  </div>

</div>
