/* .puzzle-typename-header{
    margin-top: 5%;
    margin-left: 250px;
    font-size: 18px;
} */

.big-container {
    margin-top: 50px;
}

.category-list{
    float: left;    
    width: 300px;
    margin-left: 0 auto;
    margin-top: 300px;
    margin-bottom: 50px;
    background-color: orchid;
}

.exp-panel {
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    border-bottom-color: grey;
    border-bottom-width: thin;
    border-bottom-style:solid ;
}

.exp-panel-header {
    font-size: 25px;
    height: 90px;
}

.exp-panel-header:hover{
    background: currentColor;
}

mat-grid-list{
    width: 1000px;
}

/*------------------------------------------------------------------------------------*/

.list-with-header-div{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 200px;
}

.list-header{
    width: 1000px;
    height: 100px;
    margin-bottom: 10px;
    margin-right: 50px;
    background-color: #f9007c;
}

.list-header-puzzle-type {
    width: 300px;
    height: 45px;
    background-color: green;
    font-size: 25px;
    padding-left: 5px;
}

.list-header-filter-sort-info{
    width: inherit;
    height: 45px;
    background-color: yellow;
}

.mat-select-div {
    margin-left: 20px;
    margin-right: 20px;
}

.list-container{
    background-color: orange;
    width: 1000px;
}

mat-grid-tile {
    background-color: aqua;
    border: solid;
    border-color: rgb(134, 134, 134);
    width: 300px;
    height: 295px;
}

::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
    display:inline-block !important; /* or whichever you need */
}

.grid-tile-parent-div {
    position: relative;
    margin: 5px;
    height: 395px;
    width: 300px;
    background-color: lawngreen;
}

.image-div {
    position: relative;
    height: 240px;
    width: 270px;
    margin-top: 5px;
    background-color: blue;
}

.image-div img {
    width: 270px;
    height: 240px;
}

.manufacturer-name-div{
    width: 200px;
    height: 30px;
    margin-top: 15px;
    background-color: crimson;
    text-transform: uppercase;
}

.puzzle-name-div {
    width: 200px;
    height: 30px;
    margin-top: 5px;
    background-color: darkgreen;
}

.puzzle-price-div{
    width: 280px;
    height: 50px;
    bottom: 0px;
    position: absolute;
    background-color: blueviolet;
}

.price-div {
    width: 70px;
    height: 30px;
    background-color: orangered;
}

.ad-to-cart-div{
    width: 70px;
    height: 50px;
    background-color: orangered;
}

.pagination-data-div {
    width: 1000px;
    height: 50px;
    margin-top: 50px;
}


/*------------------------------------------------------------------------------------*/

/* mat-grid-tile {
    background-color: white;
    border: solid;
    border-color: rgb(134, 134, 134);
    max-width: 300px;
}

mat-list {
    width: fit-content;
}

.puzzle-type{
    margin-top: 5%;
    margin-left: 500px;
}

.category-list{
    float: left;
    width: fit-content;
    margin-left: 5%;
    margin-top: 10px;
}

mat-grid-list{
    margin-right: 200px;
    margin-left: 100px;
    width: 60%;
    position: absolute;
    right: 0;
}

mat-list-item {
    font-size: 30px;
}

.mat-list-div{
    padding-top: 15px;
    padding-bottom: 15px;
    
}

.exp-panel {
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    border-bottom-color: grey;
    border-bottom-width: thin;
    border-bottom-style:solid ;
}

.exp-panel-header {
    font-size: 25px;
    height: 90px;
}

.exp-panel-header:hover{
    background: currentColor;
}

.card-product-container{
    margin: 0 auto;
}

.puzzle-image{
    margin: 0 auto;
    width: 90%;
    padding: 0px 15px 15px;
}

.puzzle-image img{
    max-width: 250px;
    max-height: 250px;
}

.card-product-name{
    margin: 0 auto;
    text-align: center;
}

.card-product-name span {
    font-size: 14px;
    text-transform: uppercase;
}

.card-product-name h3 {
    padding-top: 5px;
    max-lines: 2;
}

.puzzle-title-container {
    margin: 0 auto;
    padding-top: 5px;
    text-align: center;
    font-size: 18px;
    max-lines: 2;
}

.card-product-price button {
    position: absolute;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    font-size: 15px;
    margin-right: 10px;
    border-radius: 5px;
    color: white;
    background-color: #e62047;
}

.card-product-price .price{
    position: absolute;
    left: 0;
    padding-left: 10px;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin: 10px 0;
}

mat-card{
    max-width: 300px;
}

mat-card-content {
    border: none;
}

mat-card-actions span {
    float: left;
}

mat-card-actions button{
    float: right;
} */







 