<div class="mat-display-3 puzzle-type">Кубик Рубика</div>

<div class="category-list">

    <mat-accordion multi="true">
        <mat-expansion-panel class="mat-elevation-z0 exp-panel">
            <mat-expansion-panel-header  class="exp-panel-header">
             <span style="padding: 10px;">Категории</span> 
            </mat-expansion-panel-header>
            <div style="padding: 10px;">
                2x2x2
            </div>
            <div style="padding: 10px;">
                3x3x3
            </div>
            <div  style="padding: 10px;">4x4x4</div>
          </mat-expansion-panel>
        
          <mat-expansion-panel class="mat-elevation-z0 exp-panel">
            <mat-expansion-panel-header class="exp-panel-header">
                <span style="padding: 10px;">Производители</span>
            </mat-expansion-panel-header>
        
            This the expansion 2 content
        
          </mat-expansion-panel>
          <mat-expansion-panel class="mat-elevation-z0 exp-panel">
            <mat-expansion-panel-header class="exp-panel-header">
              <span style="padding: 10px;">Цвет Пластика</span>
            </mat-expansion-panel-header>
        
            This the expansion 2 content
        
          </mat-expansion-panel>
          <mat-expansion-panel class="mat-elevation-z0 exp-panel">
            <mat-expansion-panel-header class="exp-panel-header">
              <span style="padding: 10px;">Цена</span>
            </mat-expansion-panel-header>
        
            This the expansion 2 content
        
          </mat-expansion-panel>
    </mat-accordion>
</div>
<div>
    <mat-grid-list cols="3" rowHeight="2:3" gutterSize="50px">
        <mat-grid-tile>Puzzle 1</mat-grid-tile>
        <mat-grid-tile>Puzzle 2</mat-grid-tile>
        <mat-grid-tile>Puzzle 3</mat-grid-tile>
        <mat-grid-tile>Puzzle 4</mat-grid-tile>
        <mat-grid-tile>Puzzle 5</mat-grid-tile>
        <mat-grid-tile>Puzzle 6</mat-grid-tile>
        <mat-grid-tile>Puzzle 7</mat-grid-tile>
        <mat-grid-tile>Puzzle 8</mat-grid-tile>
    </mat-grid-list>
</div>