.image-div {
    position: relative;
    height: 190px;
    width: 250px;
    margin-top: 5px;
    background-color: white;
    /* background-color: blue; */
}

.image-div img {
    width: 250px;
    height: 190px;
}

.manufacturer-name-div{
    width: 200px;
    height: 30px;
    margin-top: 15px;
    background-color: white;
    /* background-color: crimson; */
}

.puzzle-name-div {
    width: 250px;
    height: 50px;
    margin-top: 15px;
    background-color: white;
    /* background-color: darkgreen; */
    max-lines: 2;
}

.puzzle-price-div{
    width: 280px;
    height: 50px;
    bottom: 0px;
    position: absolute;
    background-color: white;
    /* background-color: blueviolet; */
}

.price-div {
    width: 70px;
    height: 30px;
    background-color: white;
    /* background-color: orangered; */
}

.ad-to-cart-div{
    width: 70px;
    height: 50px;
    background-color: white;
    margin-right: 40px;
    /* background-color: orangered; */
}
