view-card-title{
    color: teal;
    font-size: 20px;
}

mat-toolbar{
    background-color: #FFF
}

.save-button{
    margin-right:10px;
    background-color: teal;
}

.cancel-button{
    margin-right:10px;
}

.form-field-30{
    width: 30%;
}