<mat-card>
	<mat-card-header>
		<mat-card-title class="view-card-title">
			<h1>{{dialogTitle}}</h1>
		</mat-card-title>
	</mat-card-header>
	<form novalidate [formGroup]="puzzleTypesForm" (ngSubmit)="onSubmit()">
		<mat-toolbar>
			<mat-toolbar-row>
				<span class="title-spacer"></span>
				<mat-card-actions>
					<button class="save-button" [disabled]="puzzleTypesForm.invalid" mat-mini-fab type="submit">
						<mat-icon>done</mat-icon>
					</button>
					<button class="cancel-button" mat-mini-fab color="warn" type="button"
						(click)="closeDialog()">
						<mat-icon>close</mat-icon>
					</button>
				</mat-card-actions>
			</mat-toolbar-row>
		</mat-toolbar>
		<mat-card-content>
			<div class="form-card">
				<mat-form-field class="form-field-30">
					<input matInput placeholder="TypeName" type="text" placeholder="TypeName. (required)"
						formControlName="title" />
				</mat-form-field>
				<mat-form-field class="form-field-30">
					<mat-select placeholder="Is Rubik's Cube?" formControlName="isRubicsCube">
						<mat-option value="true">Yes</mat-option>
						<mat-option value="false">No</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="form-field-30">
					<mat-select placeholder="Is Wca discipline?" formControlName="isWca">
						<mat-option value="true">Yes</mat-option>
						<mat-option value="false">No</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field class="form-field-30">
					<mat-select placeholder="DifficultyLevel" formControlName="difficultyLevelId">
						<mat-option *ngFor="let dl of difficultyLevels" [value]="dl?.difficultyLevelId">{{dl?.title}}
						</mat-option>
					</mat-select>
				</mat-form-field>
			</div>
		</mat-card-content>
	</form>
</mat-card>