<div class="content-container">
	<gallery class="carousel" 
			[items]="images" 
			[autoPlay]="true" 
			[playerInterval]="5000" 
			[thumb]="false" 
			[dots]="true"
			[dotsSize]="40" 
			[counter]="false" 
			autoplay="true" 
			thumbMode="free" 
			imageSize="contain">
	</gallery>
	<span class="arrivals">New Arrivals</span>
	<div fxLayout="row | wrap" fxLayoutAlign="center center">
		<mat-card>
			<img mat-card-image src="../../assets/images/ganx.jpg">
			<mat-card-content>
				<span>Gan 356 X</span>
				<span><b>$45.95</b></span>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<img mat-card-image src="../../assets/images/3x3-dayan-guhong-v3-magnetic-3x3-1_1024x1024.jpg">
			<mat-card-content>
				<span>DaYan GuHong V3 M</span>
				<span><b>$25.95</b></span>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<img mat-card-image src="../../assets/images/CubeSolveHero_Valk_3_Elite_Magnetic_3x3.jpg">
			<mat-card-content>
				<span>CubeSolveHero Valk 3 Elite M</span>
				<span><b>$35.95</b></span>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<img mat-card-image src="../../assets/images/3x3-cubeorithms-thunderclap-v3-magnetic-3x3-2_1024x1024.jpg">
			<mat-card-content>
				<span>Cubeorithms Thunderclap V3 M</span>
				<span><b>$36.95</b></span>
			</mat-card-content>
		</mat-card>
	</div>


	<div fxLayout="row | wrap" fxLayoutAlign="center center">

		<mat-card>
			<img mat-card-image src="../../assets/images/CubeSolveHero_Valk_3_Elite_Magnetic_3x3.jpg">
			<mat-card-content>
				<span>CubeSolveHero Valk 3 Elite M</span>
				<span><b>$35.95</b></span>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<img mat-card-image src="../../assets/images/3x3-cubeorithms-thunderclap-v3-magnetic-3x3-2_1024x1024.jpg">
			<mat-card-content>
				<span>Cubeorithms Thunderclap V3 M</span>
				<span><b>$36.95</b></span>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<img mat-card-image src="../../assets/images/3x3-dayan-guhong-v3-magnetic-3x3-1_1024x1024.jpg">
			<mat-card-content>
				<span>DaYan GuHong V3 M</span>
				<span><b>$25.95</b></span>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<img mat-card-image src="../../assets/images/ganx.jpg">
			<mat-card-content>
				<span>Gan 356 X</span>
				<span><b>$45.95</b></span>
			</mat-card-content>
		</mat-card>
		
	</div>

	<div class="test-rating-bar" style="display: flex; flex-direction: column; width: 80%;">
		<span>CUSTOMER REVIEWS</span>
		<div style="display: flex; justify-content: center; align-items: center;">
			<div style="display: flex; flex-direction: column; margin-right: 100px;">
				<div style="display: flex; justify-content: flex-start; align-items: center;">
					<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon>
				</div>
				<label>Based on n reviews</label>
			</div>
			<div style="display: flex; flex-direction: column;">
				<div style="display: flex; justify-content: space-around; align-items: center; width: 305px;">
					<div style="display: flex; justify-content: flex-start; align-items: center; ">
						<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon>
					</div>
					<mat-progress-bar mode="determinate" value="100" style="width: 100px;"></mat-progress-bar>
					<span> 100% (n)</span>
				</div>

				<div style="display: flex; justify-content: space-around; align-items: center; width: 300px;">
					<div style="display: flex; justify-content: flex-start; align-items: center;">
						<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon>
					</div>
					<mat-progress-bar mode="determinate" value="80" style="width: 100px;"></mat-progress-bar>
					<span> 80% (n)</span>
				</div>

				<div style="display: flex; justify-content: space-around; align-items: center; width: 300px;">
					<div style="display: flex; justify-content: flex-start; align-items: center;">
						<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon>
					</div>
					<mat-progress-bar mode="determinate" value="60" style="width: 100px;"></mat-progress-bar>
					<span> 60% (n)</span>
				</div>

				<div style="display: flex; justify-content: space-around; align-items: center; width: 300px;">
					<div style="display: flex; justify-content: flex-start; align-items: center;">
						<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon>
					</div>
					<mat-progress-bar mode="determinate" value="40" style="width: 100px;"></mat-progress-bar>
					<span> 40% (n)</span>
				</div>

				<div style="display: flex; justify-content: space-around; align-items: center; width: 300px;">
					<div style="display: flex; justify-content: flex-start; align-items: center;">
						<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon><mat-icon style="color: yellow;">star_border</mat-icon>
					</div>
					<mat-progress-bar mode="determinate" value="20" style="width: 100px;"></mat-progress-bar>
					<span> 20% (n)</span>
				</div>

			</div>
		</div>
	</div>


	<div class="test-list" style="width: 80%;">
		<mat-card>
			<mat-card-header style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; margin-bottom: 10px;">
				<div style="display: flex; justify-content: flex-start; align-items: center;">
					<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon>
				</div>
				<mat-card-subtitle>Reviewer Name | Date</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
				<span style="text-transform: uppercase; font-weight: 700; font-size: 16px; font-family: 'Arimo', sans-serif; margin-bottom: 10px;">Review Title</span>
				<p style="font-family: 'Arimo', sans-serif; font-size: 13px; line-height: 1.5;">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse dolor eaque animi odio delectus, ratione deserunt excepturi possimus molestiae, atque, dolores iure cum minima rerum illo praesentium alias distinctio sed!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores odio eveniet perferendis dolore tempora. Placeat id unde corporis reiciendis maiores, provident perferendis incidunt sint. Minima, quia ratione! Voluptates, voluptas illo.
				</p>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; margin-bottom: 10px;">
				<div style="display: flex; justify-content: flex-start; align-items: center;">
					<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon>
				</div>
				<mat-card-subtitle>Reviewer Name | Date</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
				<span style="text-transform: uppercase; font-weight: 700; font-size: 16px; font-family: 'Arimo', sans-serif; margin-bottom: 10px;">Review Title</span>
				<p style="font-family: 'Arimo', sans-serif; font-size: 13px; line-height: 1.5;">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Esse dolor eaque animi odio delectus, ratione deserunt excepturi possimus molestiae, atque, dolores iure cum minima rerum illo praesentium alias distinctio sed!
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores odio eveniet perferendis dolore tempora. Placeat id unde corporis reiciendis maiores, provident perferendis incidunt sint. Minima, quia ratione! Voluptates, voluptas illo.
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum libero obcaecati dolorem saepe? Natus et, tenetur molestias nihil, recusandae iste voluptatum aspernatur saepe quod deserunt corrupti sunt, sed neque. Ullam.
				</p>
			</mat-card-content>
		</mat-card>

		<mat-card>
			<mat-card-header style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center; margin-bottom: 10px;">
				<div style="display: flex; justify-content: flex-start; align-items: center;">
					<mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon><mat-icon style="color: yellow;">star</mat-icon>
				</div>
				<mat-card-subtitle>Reviewer Name | Date</mat-card-subtitle>
			</mat-card-header>
			<mat-card-content style="display: flex; flex-direction: column; align-items: flex-start; justify-content: center;">
				<span style="text-transform: uppercase; font-weight: 700; font-size: 16px; font-family: 'Arimo', sans-serif; margin-bottom: 10px;">Review Title</span>
				<p style="font-family: 'Arimo', sans-serif; font-size: 13px; line-height: 1.5;">
					Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores odio eveniet perferendis dolore tempora. Placeat id unde corporis reiciendis maiores, provident perferendis incidunt sint. Minima, quia ratione! Voluptates, voluptas illo.
				</p>
			</mat-card-content>
		</mat-card>
		
	</div>

</div>