<div class="content-container">
	<gallery class="carousel" 
			[items]="images" 
			[autoPlay]="true" 
			[playerInterval]="5000" 
			[thumb]="false" 
			[dots]="true"
			[dotsSize]="40" 
			[counter]="false" 
			autoplay="true" 
			thumbMode="free" 
			imageSize="contain">
	</gallery>
	<span class="arrivals">Top 8 puzzles</span>
	<div fxLayout="row | wrap" fxLayoutAlign="center center">
		<mat-card *ngFor="let puzzle of puzzlesPaged?.items">
			<img mat-card-image [src]="staticFilesUrl + puzzle.images[0].fileName" (click)="openProductDetails(puzzle?.id, puzzle?.puzzleType)">
			<mat-card-content>
				<span class="puzzle__name" (click)="openProductDetails(puzzle?.id, puzzle?.puzzleType)"> {{puzzle?.name}} </span>
				<div class="rating">
					<mat-icon *ngFor="let starId of ratingArr; index as i">{{showStarUsingRating(i, puzzle?.rating)}}</mat-icon>
				</div>
				<span (click)="openProductDetails(puzzle?.id, puzzle?.puzzleType)"><b> {{puzzle?.price |currency:'USD'}} </b></span>
			</mat-card-content>
		</mat-card>
	</div>
</div>