@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Oswald:wght@500&display=swap');


.content-container{
    margin-bottom: 50px;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

.carousel{
    width: 1400px;
    height: 380px; 
    background-color: white;
}

.arrivals{
    margin-top: 35px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: 500;
    line-height: 1.5;
}

mat-card{
    margin: 20px;
    &:hover{
        cursor: pointer;
    }
}

mat-card img{
    width: 300px;
    height: 240px;
    
}




mat-card-content{
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    justify-content: flex-start;
    
    .puzzle__name{
        font-family: Arimo;
        font-weight: 400;
    }
    .rating {
        margin-top: 5px;
        padding-bottom: 5px;
        mat-icon {
          color: #e1e100;
        }
    }
}


@media screen and(max-width: 1200px){
    .carousel{
        width: 1100px;
        height: 380px; 
        background-color: white;
    }
}

@media screen and(max-width: 1000px){
    .carousel{
        width: 900px;
        height: 380px; 
        background-color: white;
    }
}

@media screen and(max-width: 750px){
    .carousel{
        width: 650px;
        height: 380px; 
        background-color: white;
    }
}

@media screen and(max-width: 500px){
    .carousel{
        width: 450px;
        height: 380px; 
        background-color: white;
    }
}

