.page__title{
    color: teal; 
    letter-spacing: 2px; 
    font-size: 35px;
}

.parent-container{
    margin-top: 50px;
    margin-bottom: 100px;
    width: 100%;
}

.toolbar-container{
    width: 800px;
    background-color: lightcoral;
}

.head-toolbar-row{
    display: flex; 
    justify-content: flex-end;
    .toolbar-row-div{
        width: 100%;
    }
}

mat-toolbar-row{
    width: inherit;
}


.toolbar-buttons-div{
    margin-right: 0px;
    .search{
        margin-right:10px; 
        background-color:#a28b6e
    }
    .refresh{
        margin-right:10px; 
        background-color:darkgray
    }
}

.table-container{
    height: fit-content;
    width: 100%;
}

.edit-button{
    min-height: 30px;   
    margin: 5px;
    background-color: teal;
}

.delete-button{
    min-height: 30px;  
    margin: 5px;
    /* background-color: red; */
}

mat-table{
    margin: 50px;
    width: 100%;
    height: fit-content;
}

mat-header-cell{
    align-content: center;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

.id__cell{
    display: flex; 
    justify-content: center;
    .reset{
        color:white; 
        background-color:lightseagreen;
    }
}

.table-column {
    width: 50px;
}

.larger-table-column{
    width: 150px;
}

.paginator-div{
    margin: 50px;
}


.red{
    color: red;
}

.green{
    color: #1f8e0f;
}

.blue{
    color: #293fb8;
}

mat-sidenav{
    height: 100%;
    width: 350px;

    mat-nav-list{
        margin-left:20px; 
        margin-right: 20px; 
        display: flex; 
        flex-direction: column; 
        justify-content: center;
    }
    
}

.sidenav-card-header{
    display: flex; 
    justify-content: center;
    mat-card-subtitle{
        font-size: 25px;
    }
}

.sidenav-card-title{
    display: flex; 
    justify-content: center;
    button{
        margin: 5px;
    }
}

.field__300{
    width: 300px;
}