<div class="parent-container" fxLayout="column" fxLayoutAlign="end center">
	<div class="toolbar-container">
		<mat-card class="light">
			<div class="header-div" fxLayout="row | wrap" fxLayoutAlign="center center">
				<mat-card-header>
					<mat-card-title class="view-card-title">
						<h1 style="color: teal; letter-spacing: 2px; font-size: 35px;"><b>Orders</b></h1>
					</mat-card-title>
				</mat-card-header>
			</div>
			<mat-toolbar>
				<mat-toolbar-row style="display: flex; justify-content: flex-end;">
					<div class="toolbar-row-div" style="width: 100%;" fxLayout="row | wrap" fxLayoutAlign="space-between center">
						<div class="mat-form-field-div">
							<mat-form-field>
								<mat-placeholder>
									<mat-icon>search</mat-icon>
									Search
								</mat-placeholder>
								<input matInput [formControl]="searchInput" (keyup.enter)="onSearchClick()">
							</mat-form-field>
							<span class="title-spacer"></span>
						</div>
						<div class="toolbar-buttons-div" >
							<button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" (click)="sidenav.toggle()">
								<mat-icon>search</mat-icon>
							</button>
							<button mat-mini-fab style="margin-right:10px; background-color:darkgray" (click)="loadOrdersFromApi()">
								<mat-icon>refresh</mat-icon>
							</button>
						</div>
					</div>
				</mat-toolbar-row>
			</mat-toolbar>
		</mat-card>
	</div>

	<div class="table-container" fxLayout="row" fxLayoutAlign="center start">

		<mat-table #table [dataSource]="pagedOrders?.items" class="mat-elevation-z8" matSort matSortActive="orderDate"
			matSortDirection="desc">

			<ng-container matColumnDef="contactEmail">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Contact Email </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.contactEmail}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="address">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.address}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="city">
				<mat-header-cell *matHeaderCellDef mat-sort-header> City </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.city}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="country">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Country </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.country}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="orderStatusId">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Status </mat-header-cell>
				<mat-cell *matCellDef="let order" [ngClass]="{'red': order?.orderStatus === 'ConfirmedPayment', 'green': order?.orderStatus === 'Completed', 'blue': order?.orderStatus === 'AwaitingShipment'}">
					<span><b> {{order?.orderStatus}} </b></span>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="orderDate">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.orderDate | date}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="totalItems">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Total Items </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.totalItems}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="totalCost">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Total Cost </mat-header-cell>
				<mat-cell *matCellDef="let order"><b> {{order?.totalCost | currency:'USD'}} </b></mat-cell>
			</ng-container>

			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef style="display: flex; justify-content: center;">
					<button mat-raised-button style="color:white; background-color:lightseagreen;" (click)="resetAll()">
						<mat-icon>refresh</mat-icon>Reset
					</button>
				</mat-header-cell>
				<mat-cell *matCellDef="let order" style="display: flex; justify-content: center;">
					<button mat-mini-fab class="edit-button" [routerLink]="['/administration/orders', order?.id]">
						<mat-icon>details</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
		</mat-table>

	</div>

	<div class="paginator-div">
		<mat-paginator [length]="pagedOrders?.totalItems" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons
			pageSize="25">
		</mat-paginator>
	</div>

</div>

<mat-sidenav class="search-panel" dark #sidenav mode="push" opened="false" style="height: 500px; margin-top: 140px;">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-subtitle>
          <button mat-mini-fab color="primary" style="margin: 5px;" [disabled]="filterForm1.invalid && filterForm2.invalid && !orderStatusForm.dirty" (click)="filterOrders(); sidenav.toggle()">
            <mat-icon>search</mat-icon></button>
          <button mat-mini-fab style="margin: 5px;" (click)="resetAll() ;sidenav.toggle()">
            <mat-icon>refresh</mat-icon></button>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
	<mat-nav-list
		style="margin-left:20px; margin-right: 20px; display: flex; flex-direction: column; justify-content: center;">
		<form [formGroup]="filterForm1" (ngSubmit)="sidenav.toggle()" fxLayout="column">
			<mat-form-field>
				<mat-select placeholder="Filter #1" formControlName="filter">
					<mat-option *ngFor="let col of searchingColumns" [value]="col?.property">{{col?.name}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" placeholder="Value" style="width:300px;" formControlName="propertyValue"
					(keyup.enter)="filterOrders(); sidenav.toggle()" />
			</mat-form-field>
		</form>
		<mat-divider></mat-divider>
		<form [formGroup]="filterForm2" (ngSubmit)="sidenav.toggle()" fxLayout="column">
			<mat-form-field>
				<mat-select placeholder="Filter #1" formControlName="filter">
					<mat-option *ngFor="let col of searchingColumns" [value]="col?.property">{{col?.name}}</mat-option>
				</mat-select>
			</mat-form-field>
			<mat-form-field>
				<input matInput type="text" placeholder="Value" style="width:300px;" formControlName="propertyValue"
					(keyup.enter)="filterOrders();sidenav.toggle()" />
			</mat-form-field>
		</form>
		<mat-divider></mat-divider>
		<!-- <form [formGroup]="orderStatusForm" (ngSubmit)="filterOrders();sidenav.toggle()" fxLayout="column">
			<mat-form-field>
				<mat-select placeholder="Order Status" formControlName="orderStatus">
					<mat-option *ngFor="let status of orderStatusSelect" [value]="status?.orderStatusId">{{status?.name}}</mat-option>
				</mat-select>
			</mat-form-field>
		</form> -->
	</mat-nav-list>
	<!-- sk_test_lDCvMfC3VPB8wGOuFxjCmrLb003Iqr9r9F -->
  </mat-sidenav>