<div class="parent-container" fxLayout="column" fxLayoutAlign="end center">
	<div class="toolbar-container">
		<mat-card class="light">
			<div class="header-div" fxLayout="row | wrap" fxLayoutAlign="center center">
				<mat-card-header>
					<mat-card-title class="view-card-title">
						<h1 style="color: teal; letter-spacing: 2px; font-size: 35px;"><b>Orders</b></h1>
					</mat-card-title>
				</mat-card-header>
			</div>
			<mat-toolbar>
				<mat-toolbar-row style="display: flex; justify-content: flex-end;">
					<div class="toolbar-row-div" style="width: 100%;" fxLayout="row | wrap" fxLayoutAlign="space-between center">
						<div class="toolbar-buttons-div" >
							<button mat-mini-fab style="margin-right:10px; background-color:#a28b6e" >
								<mat-icon>search</mat-icon>
							</button>
							<button mat-mini-fab style="margin-right:10px; background-color:darkgray">
								<mat-icon>refresh</mat-icon>
							</button>
						</div>
					</div>
				</mat-toolbar-row>
			</mat-toolbar>
		</mat-card>
	</div>

	<div class="table-container" fxLayout="row" fxLayoutAlign="center start">

		<mat-table #table [dataSource]="pagedOrders?.items" class="mat-elevation-z8" matSort matSortActive="orderDate"
			matSortDirection="desc">

			<ng-container matColumnDef="userId">
				<mat-header-cell *matHeaderCellDef> UserId </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.userId}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="orderStatus">
				<mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
				<mat-cell *matCellDef="let order">
					<span [ngClass]="{'red': order?.orderStatus === 'ConfirmedPayment'}"><b> {{order?.orderStatus}} </b></span>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="orderDate">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Order Date </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.orderDate | date}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="totalItems">
				<mat-header-cell *matHeaderCellDef mat-sort-header> Total Items </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.totalItems}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="totalCost">
				<mat-header-cell *matHeaderCellDef> Total Cost </mat-header-cell>
				<mat-cell *matCellDef="let order"> {{order?.totalCost | currency:'USD'}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef style="display: flex; justify-content: center;">
					<button mat-raised-button style="color:white; background-color:lightseagreen;">
						<mat-icon>refresh</mat-icon>Reset</button>
				</mat-header-cell>
				<mat-cell *matCellDef="let order" style="display: flex; justify-content: center;">
					<button mat-mini-fab class="edit-button" [routerLink]="['/administration/orders', order?.id]">
						<mat-icon>details</mat-icon>
					</button>
				</mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
		</mat-table>

	</div>

	<div class="paginator-div">
		<mat-paginator [length]="pagedOrders?.totalItems" [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons
			pageSize="25">
		</mat-paginator>
	</div>

</div>

<!-- <mat-sidenav class="search-panel" dark #sidenav mode="push" opened="false" style="height: 500px; margin-top: 140px;">
    <mat-card class="profile-card">
      <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-subtitle>
          <button mat-mini-fab color="primary" style="margin: 5px;" (click)="filterPuzzles(); sidenav.toggle()">
            <mat-icon>search</mat-icon></button>
          <button mat-mini-fab style="margin: 5px;" (click)="resetAll() ;sidenav.toggle()">
            <mat-icon>refresh</mat-icon></button>
        </mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <mat-nav-list style="margin-left:20px; margin-right: 20px; display: flex; justify-content: center;">
      <form [formGroup]="filterForm" (ngSubmit)="sidenav.toggle()" fxLayout="column">
        <mat-form-field>
          <input matInput type="text" placeholder="Puzzle name" style="width:300px;" formControlName="name" (keyup.enter)="filterPuzzles(); sidenav.toggle()"  />
        </mat-form-field>
        <mat-form-field>
          <input matInput type="text" placeholder="Manufacturer" style="width:300px;" formControlName="manufacturer" (keyup.enter)="filterPuzzles();sidenav.toggle()"  />
        </mat-form-field>
      </form>
	</mat-nav-list>
	sk_test_lDCvMfC3VPB8wGOuFxjCmrLb003Iqr9r9F
  </mat-sidenav> -->