

  <mat-sidenav-container>
  
    <mat-sidenav dark #sidenav mode="push" [opened]="false" (click)="sidenav.toggle()">

      <mat-nav-list>
        
        <a mat-list-item >
          <span mat-line [routerLink]="['administration/puzzles']">Puzzles</span>
        </a>
        
        <a mat-list-item [routerLink]="['administration/manufacturers']">
          <span mat-line>Manufacturers</span>
        </a>

        <a mat-list-item [routerLink]="['administration/puzzletypes']">
          <span mat-line>Puzzle Types</span>
        </a>

        <a mat-list-item [routerLink]="['administration/puzzlecolors']">
          <span mat-line>Puzzle Colors</span>
        </a>

        <a mat-list-item>
          <span mat-line>Users</span>
        </a>

        <a mat-list-item>
          <span mat-line>Orders</span>
        </a>

      </mat-nav-list>

    </mat-sidenav>

    <mat-sidenav-content>

      <nav-bar [sidenav]="sidenav"></nav-bar>
      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>


<!-- <img src="https://cccstore.ru/upload/resize_cache/iblock/e4a/640_460_1/e4a86c3d92d2c710be59d47f0fdeeaae.jpg?fv=00007" alt=""> -->
<!-- <img src="http://localhost:5000/images/27dea445b83006b923724f503cc0a7c4.jpg" alt="IMG"> -->

<!-- <div>
  <img src="../assets/images/skewb-cosmic-wingy-m-skewb-1_1024x1024.jpg">
</div> -->
<!-- 
<div class="parent" fxLayout="row | wrap" fxLayoutAlign="center center">
    <div class="test" fxLayout="row | wrap" fxLayoutAlign="center start">
      <div class="inner1"></div>
      <div class="inner11" fxLayoutAlign="center center">Text</div>
      <div class="inner12" fxLayoutAlign="center center">Text in inner12 class</div>
      <div class="inner13" fxLayout="row | wrap" fxLayoutAlign="space-between center">
        <div class="inner131"></div>
        <div class="inner132"></div>
      </div>
    </div>
    <div class="test" fxLayout="row | wrap" fxLayoutAlign="center end">
      <div class="inner2"></div>
    </div>
</div> -->