mat-sidenav-container {
    height: 100%;
}

mat-sidenav{
    background-color: darkcyan;
    width: 200px;
}




/* .parent{
    width: 80%;
}

.test{
    margin: 5px;
    height: 600px;
    width: 400px;
    background-color: lawngreen;
}  

.inner1 {
    height: 350px;
    width: 350px;
    margin-top: 20px;
    background-color: blue;
}

.inner11 {
    width: 200px;
    height: 35px;
    margin-top: 15px;
    background-color: crimson;
}

.inner12 {
    width: 300px;
    height: 55px;
    margin-top: 5px;
    background-color: darkgreen;
}

.inner13 {
    width: 350px;
    height: 75px;
    margin-top: 40px;
    background-color: orange;
}

.inner131 {
    width: 100px;
    height: 50px;
    background-color: orchid;
}

.inner132 {
    width: 100px;
    height: 50px;
    background-color: orchid;
}

.inner2 {
    height: 200px;
    width: 200px;
    background-color: blue;
} */