@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Oswald:wght@500&display=swap");


*{
    font-size: 16px;
}

.spinner{
    position: absolute; 
    top: 50%; 
    left: 50%; 
    z-index: 5;
}

.big-container {
    margin-top: 50px;
}

.category-list{
    position: sticky;
    position: -webkit-sticky;
    top: 2rem;
    width: 300px;
    margin-left: 30px;
    /* margin-top: 300px; */
    margin-bottom: 50px;
    background-color: white;
    /* background-color: orchid; */
}

.exp-panel {
    background-color: white;
    padding-bottom: 15px;
    padding-top: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 300px;
    border-bottom-color: grey;
    border-bottom-width: thin;
    border-bottom-style:solid ;
}

mat-expansion-panel-header{
    display: flex;
    justify-content: space-between;
}

.exp-panel-header {
    font-size: 25px;
    height: 100px;
    padding-top: 80px;
}

.exp-panel-list-item{
    padding-top: 2px;
}

mat-slider{
    width: 100%;
}

mat-expansion-panel{
    background-color: white;
}

mat-grid-list{
    width: 1000px;
}

/*------------------------------------------------------------------------------------*/

.list-with-header-div{
    margin-left: 40px;
    margin-right: 50px;
    margin-bottom: 200px;
}

.list-header{
    // width: 1000px;
    left: 0px;
    right: 0px;
    height: 70px;
    margin-bottom: 10px;
    margin-right: 50px;
    background-color: white;
    /* background-color: #f9007c; */
}

.list-header-puzzle-type {
    width: 300px;
    height: 45px;
    background-color: white;
    font-family: Inconsolata;
    font-size: 25px;
    padding-left: 5px;
}

.list-header-filter-sort-info{
    font-family: Oswald;
    font-weight: 500;
    text-transform: uppercase;
    width: inherit;
    height: 45px;
    background-color: white;
    /* background-color: yellow; */
}

.mat-select-div {
    margin-left: 20px;
    margin-right: 20px;
}

mat-select{
    font-family: Oswald;
    font-weight: 500;
}

mat-option{
    font-family: Oswald;
    font-weight: 500;
}

.list-container{
    background-color: white;
    /* background-color: orange; */
    // width: 1000px;
}

mat-grid-tile {
    background-color: white;
    /* background-color: aqua; */
    border: solid;
    border-color: white;
    width: 300px;
    height: 295px;
}

::ng-deep md-grid-tile.mat-grid-tile .mat-figure {
    display:inline-block !important; /* or whichever you need */
}

.grid-tile-parent-div {
    position: relative;
    margin: 5px;
    height: 395px;
    // width: 300px;
    background-color: white;
    /* background-color: lawngreen; */
}





.pagination-data-div {
    // width: 1000px;
    height: 50px;
    margin-top: 50px;
}


.image-div {
    position: relative;
    height: 210px;
    width: 290px;
    margin-top: 5px;
    background-color: white;
    cursor: pointer;
    /* background-color: blue; */
}

.image-div img {
    width: 290px;
    height: 210px;
}

.manufacturer-name-div{
    font-family: Oswald;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 18px;
    text-transform: uppercase;
    width: 200px;
    height: 30px;
    margin-top: 15px;
    background-color: white;
    /* background-color: crimson; */
}

.rating {
    padding-bottom: 10px;
    mat-icon {
      color: #e1e100;
    }
}

.puzzle-name-div {
    font-family: Oswald;
    font-weight: 500;
    width: 250px;
    height: 50px;
    margin-top: 5px;
    background-color: white;
    cursor: pointer;
    /* background-color: darkgreen; */
    max-lines: 2;
}

.puzzle-price-div{
    width: 280px;
    height: 50px;
    margin-top: 10px;
    bottom: 0px;
    position: absolute;
    background-color: white;
}

.price-div {
    width: 70px;
    height: 30px;
    background-color: white;
    font-family: Oswald;
    font-weight: 500;
    font-size: 32px;
}

.add-to-cart-div{
    width: 70px;
    height: 50px;
    background-color: white;
    margin-right: 20px;
}

.add-to-cart-div button{
    color: white;
    background-color: crimson;
    font-family: 'Inconsolata', monospace;
    &:disabled{
        background-color: rgb(220, 20, 60, .7);
    }
}

@media screen and(max-width: 1485px){
    .category-list{
        display: none;
    }
}

@media screen and(max-width: 1100px){
    mat-grid-list{
        width: 600px;
    }
    // .list-with-header-div{
    //     // margin-left: 40px;
    //     // margin-right: 50px;
    //     margin-bottom: 200px;
    // }

    // .list-header{
    //     width: 650px;
    //     height: 100px;
    //     margin-bottom: 10px;
    //     margin-right: 10px;
    //     background-color: white;
    // }

    // .list-container{
    //     background-color: white;
    //     width: 650px;
    // }
}

@media screen and(max-width: 910px){
    mat-grid-list{
        width: 500px;
    }
    // .list-with-header-div{
    //     // margin-left: 40px;
    //     // margin-right: 50px;
    //     margin-bottom: 200px;
    // }

    // .list-header{
    //     width: 400px;
    //     height: 100px;
    //     margin-bottom: 10px;
    //     margin-right: 10px;
    //     background-color: white;
    // }

    // .list-container{
    //     background-color: white;
    //     width: 400px;
    // }
}

