<!-- <div class="mat-display-3 puzzle-typename-header">Кубик Рубика</div> -->

<div class="big-container" fxLayout="row | wrap" fxLayoutAlign="space-between start">
  <div class="category-list" >
    <!-- <img src="../../assets/moyugtsm.jpg"> -->

      <!-- <mat-tree>
        <mat-tree-node> parent node </mat-tree-node>
        <mat-tree-node> -- child node1 </mat-tree-node>
        <mat-tree-node> -- child node2 </mat-tree-node>
      </mat-tree> -->
  
      <mat-accordion multi="true">
          <mat-expansion-panel class="mat-elevation-z0 exp-panel">
              <mat-expansion-panel-header  class="exp-panel-header">
               <span style="padding-top: 10px;">Категории</span> 
              </mat-expansion-panel-header>
              <div style="padding-top: 10px;" *ngFor="let puzzleType of puzzleTypes">{{puzzleType?.title}}</div>
            </mat-expansion-panel>
          
            <mat-expansion-panel class="mat-elevation-z0 exp-panel">
              <mat-expansion-panel-header class="exp-panel-header">
                  <span style="padding-top: 10px;">Производители</span>
              </mat-expansion-panel-header>
              <div style="padding-top: 10px;" *ngFor="let manufacturer of manufacturers">{{manufacturer.name}}</div>
            </mat-expansion-panel>
  
            <mat-expansion-panel class="mat-elevation-z0 exp-panel">
              <mat-expansion-panel-header class="exp-panel-header">
                <span style="padding-top: 10px;">Цвет Пластика</span>
              </mat-expansion-panel-header>
              <div style="padding-top: 10px;" *ngFor="let color of puzzleColors">{{color.title}}</div>
            </mat-expansion-panel>
      </mat-accordion>
  </div>

  <div class="list-with-header-div" fxLayout="column | wrap" fxLayoutAlign="center start">

    <div class="list-header" fxLayout="column | wrap" fxLayoutAlign="space-between start">
      
      <div *ngIf="currentPuzzleType?.isRubicsCube" class="list-header-puzzle-type" fxLayout="row" fxLayoutAlign="start center">{{currentPuzzleType?.title}} Speed Cubes</div>
      <div *ngIf="! currentPuzzleType?.isRubicsCube" class="list-header-puzzle-type" fxLayout="row" fxLayoutAlign="start center">{{currentPuzzleType?.title}}</div>
      
      <div class="list-header-filter-sort-info" fxLayoutAlign="end center">
        <div>
          SORT BY
        </div>
        
        <div class="mat-select-div">
          <mat-form-field>
            <mat-select value="name,asc" (selectionChange)="onChangeMatSelect($event.value)">
              <mat-option value="name,asc">A-Z by title</mat-option>
              <mat-option value="name,desc">Z-A by title</mat-option>
              <mat-option value="manufacturer,asc">A-Z by manufacturer</mat-option>
              <mat-option value="manufacturer,desc">Z-A by manufacturer</mat-option>
              <mat-option value="price,desc">By price, high to low</mat-option>
              <mat-option value="price,asc">By price, low to high</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      </div>
    </div>

    <div class="list-container" fxLayout="row | wrap" fxLayoutAlign="center center">
        <mat-grid-list rowHeight="400px" [cols]="rowsNumber" (window:resize)="onResize($event)" gutterSize="50px">
  
          <mat-grid-tile fxLayout="row | wrap" fxLayoutAlign="center center" *ngFor="let puzzle of pagedPuzzles?.items">
            
            <div class="grid-tile-parent-div" fxLayout="column | wrap" fxLayoutAlign="start center">

<!-- 
              <div class="image-div">
                <img [src]="baseStaticFilesUrl + puzzle.images[0]?.fileName">
              </div>
              <div class="manufacturer-name-div" fxLayoutAlign="center center">{{puzzle?.manufacturer | uppercase}}</div>
              <div class="puzzle-name-div" fxLayoutAlign="center center">{{puzzle?.name}}</div>
              <div class="puzzle-price-div" fxLayout="row | wrap" fxLayoutAlign="space-between center">
                <div class="price-div" fxLayoutAlign="center center"><b>{{puzzle?.price | currency:'USD'}}</b></div>
                <div class="add-to-cart-div">
                  <button mat-button>Add to cart</button>
                </div>
              </div> -->
              
              <puzzle-thumbnail [puzzle]="puzzle" ></puzzle-thumbnail>
            
            </div>
  
          </mat-grid-tile>
  
        </mat-grid-list>
    </div>

    <div class="pagination-data-div" fxLayout="row | wrap" fxLayoutAlign="space-between center">
      <div>

        <mat-paginator (page)="onPageChanged($event)" [length]="pagedPuzzles?.totalItems" [pageSizeOptions]="[12, 24, 48, 96]" pageSize="24"></mat-paginator>

        <!-- <mat-form-field>
          <mat-label>List length</mat-label>
          <input matInput [(ngModel)]="length" type="number">
        </mat-form-field>
        
        <mat-form-field>
          <mat-label>Page size</mat-label>
          <input matInput [(ngModel)]="pageSize" type="number">
        </mat-form-field>
  
        <mat-form-field>
          <mat-label>Page size options</mat-label>
          <input matInput [ngModel]="pageSizeOptions" (ngModelChange)="setPageSizeOptions($event)" [ngModelOptions]="{updateOn: 'blur'}" placeholder="Ex. 10,25,50">
        </mat-form-field>

      </div>

      <div>
        <mat-paginator [length]="length"
                       [pageSize]="pageSize"
                       [pageSizeOptions]="pageSizeOptions"
                       (page)="pageEvent = $event">
        </mat-paginator>
      </div> -->
      
    </div>

  </div>

</div>
