<div *ngIf="showSpinner" class="spinner" style="position: absolute; top: 50%; left: 50%; z-index: 5;">
	<mat-spinner></mat-spinner>
</div>
<div class="big-container" fxLayout="row | wrap" fxLayoutAlign="space-between start">
	<div class="category-list">

		<mat-accordion multi="true">
			<mat-expansion-panel class="mat-elevation-z0 exp-panel">
				<mat-expansion-panel-header class="exp-panel-header">
					<span style="padding-bottom: 10px;">Categories</span>
				</mat-expansion-panel-header>
				<div style="padding-top: 10px;;" *ngFor="let puzzleType of puzzleTypes">{{puzzleType?.title}}</div>
			</mat-expansion-panel>

			<mat-expansion-panel class="mat-elevation-z0 exp-panel">
				<mat-expansion-panel-header class="exp-panel-header">
					<span style="padding-top: 10px;">Manufacturers</span>
				</mat-expansion-panel-header>
				<div style="padding-top: 10px;" *ngFor="let manufacturer of manufacturers">{{manufacturer.name}}</div>
			</mat-expansion-panel>

			<mat-expansion-panel class="mat-elevation-z0 exp-panel">
				<mat-expansion-panel-header class="exp-panel-header">
					<span style="padding-top: 10px;">Price</span>
				</mat-expansion-panel-header>
				<div style="padding-top: 10px;" >
					<mat-slider style="width: 100%;" min="1" max="1000" step="10" thumbLabel="true"></mat-slider>
				</div>
			</mat-expansion-panel>
		</mat-accordion>
	</div>

	<div class="list-with-header-div" fxLayout="column | wrap" fxLayoutAlign="center start">
		<div class="list-header" fxLayout="column | wrap" fxLayoutAlign="space-between start">
			<div *ngIf="currentPuzzleType?.isRubicsCube" class="list-header-puzzle-type" fxLayout="row"
				fxLayoutAlign="start center">{{currentPuzzleType?.title}} SpeedCubes</div>
			<div *ngIf="! currentPuzzleType?.isRubicsCube" class="list-header-puzzle-type" fxLayout="row"
				fxLayoutAlign="start center">{{currentPuzzleType?.title}}</div>
			<div class="list-header-filter-sort-info" fxLayoutAlign="end center">
				<div>
					SORT BY
				</div>
				<div class="mat-select-div">
					<mat-form-field>
						<mat-select [(ngModel)]="currentSortOption" (selectionChange)="onChangeMatSelect($event.value)">
							<mat-option *ngFor="let option of sortOptions" [value]="option?.value">{{option?.title}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
		</div>

		<div class="list-container" fxLayout="row | wrap" fxLayoutAlign="center center">
			<mat-grid-list rowHeight="400px" [cols]="rowsNumber" (window:resize)="onResize($event)" gutterSize="50px">
				<mat-grid-tile fxLayout="row | wrap" fxLayoutAlign="center center"
					*ngFor="let puzzle of pagedPuzzles?.items">
					<div class="grid-tile-parent-div" fxLayout="column | wrap" fxLayoutAlign="start center">
						<div class="image-div" (click)="openProductDetails(puzzle?.id)">
							<img [src]="baseStaticFilesUrl + puzzle.images[0]?.fileName">
						</div>
						<div class="manufacturer-name-div" fxLayoutAlign="center center">
							{{puzzle?.manufacturer | uppercase}}</div>
						<div class="puzzle-name-div" fxLayoutAlign="center center"
							(click)="openProductDetails(puzzle?.id)">{{puzzle?.name}}</div>
						<div class="puzzle-price-div" fxLayout="row | wrap" fxLayoutAlign="space-between center">
							<div class="price-div" fxLayoutAlign="center center">
								<b>{{puzzle?.price | currency:'USD'}}</b></div>
							<div class="add-to-cart-div">
								<button mat-flat-button matTooltip="Add to cart" matTooltipPosition="right"
									(click)="addToCart(puzzle)">
									<mat-icon>shopping_cart</mat-icon>
								</button>
							</div>
						</div>
					</div>
				</mat-grid-tile>
			</mat-grid-list>
		</div>

		<div class="pagination-data-div" fxLayout="row | wrap" fxLayoutAlign="space-between center">
			<div>
				<mat-paginator 	style-paginator showFirstLastButtons 
								[showTotalPages]="3" 
								(page)="onPageChanged($event)" 
								[length]="pagedPuzzles?.totalItems"
								pageSize="25">
				</mat-paginator>
			</div>
		</div>
	</div>