.save-button{
    margin-right:10px;
    background-color: green;
}

.cancel-button{
    margin-right:10px;
    background-color: crimson;
}

.form-field-50{
    width: 50%;
}

.form-field-90{
    width: 90%;
}