<div id="container" class="container">
    <div class="grandParentContaniner">
      <div class="parentContainer">
        <form novalidate class="loginForm" [formGroup]="userLoginForm" (ngSubmit)="login()">
          <div>
            <span class="login-span-header"><h2>Login into personal cabinet</h2></span>
  
            <div class="form-group" [ngClass]="{'error': !validateFormControl(userLoginForm.controls.userName)}">
              <em *ngIf="!validateFormControl(userLoginForm.controls.userName) && userLoginForm.controls.userName.errors.required">Enter a username.</em>
              <mat-form-field style="display: block">
                <input matInput type="text" placeholder="User Name" formControlName="userName" />
              </mat-form-field>
            </div>
  
            <div class="form-group" [ngClass]="{'error': !validateFormControl(userLoginForm.controls.password)}">
              <em *ngIf="!validateFormControl(userLoginForm.controls.password) && userLoginForm.controls.password.errors.required">Enter a password.</em>
              <mat-form-field style="display: block">
                <input matInput type="password" placeholder="Password" formControlName="password" />
              </mat-form-field>
            </div>
            <button [disabled]="userLoginForm.invalid" class="login-button" mat-raised-button>Login</button>
            <div class="reg-button-container">
              <a mat-button class="registration-button" (click)="redirectToRegistration()"><u>Registration</u></a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  