<mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
    <mat-tab label="Personal Info">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    Personal Info
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <personal-info></personal-info>
            </mat-card-content>
        </mat-card>
    </mat-tab>
    <mat-tab label="My Orders">
        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    My Orders
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <personal-orders></personal-orders>
            </mat-card-content>
        </mat-card>
    </mat-tab>
</mat-tab-group>