<mat-card>

    <mat-card-header>
      <mat-card-title class="view-card-title">
        <h1>{{dialogTitle}}</h1>
      </mat-card-title>
    </mat-card-header>

    <form novalidate [formGroup]="puzzleColorForm" (ngSubmit)="onSubmit()"> 

      <mat-toolbar style="background-color: #FFF">
        <mat-toolbar-row>
          <span class="title-spacer"></span>
  
          <mat-card-actions>
            
            <button class="save-button" [disabled]="puzzleColorForm.invalid" style="background-color: green;" mat-mini-fab type="submit">
              <mat-icon>done</mat-icon>
            </button>
            
            <button class="cancel-button" mat-mini-fab style="background-color: red;" type="button" (click)="closeDialog()">
              <mat-icon>cancel</mat-icon>
            </button>

          </mat-card-actions>
  
        </mat-toolbar-row>
      </mat-toolbar>
  
      <mat-card-content>
        <div class="form-card">
          
          <mat-form-field class="form-field-30">
            <input matInput placeholder="Color" type="text" placeholder="Color. (required)" formControlName="title"/>
          </mat-form-field>

        </div>
      </mat-card-content>
    </form>
  </mat-card>