@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.container{
    height: 100%;
}

.image{
    position: relative; 
    display: flex; 
    justify-content: center;
}

.image img{
    width: 80px; 
    height: 70px; 
    margin-top: 10px;
}

.puzzle-name{
    font-size: large; 
    margin-top: 10px; 
    line-height: 1.5;
}

.puzzle-color{
    font-size: medium; 
    line-height: 1.5;
}

.done{
    font-size: small; 
    color: green; 
    line-height: 1.5; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 5px; 
    background-color: lightgrey; 
    padding: 5px;
}

.buttons{
    margin-top: 25px;
}

.buttons button {
    width: 100%; 
    text-transform: uppercase; 
    font-family: 'Inconsolata', monospace; 
    letter-spacing: 2px;
}