.upper__card{
    margin: 25px;
    mat-card-title{
        display: flex; 
        justify-content: center; 
        align-items: center;
    }
    mat-card-content{
        display: flex; 
        flex-direction: column; 
        align-items: flex-start;
    }
}

.content-span{
    margin: 5px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
}

.total-cost{
    width: 100%; 
    display: flex; 
    justify-content: flex-end;
    span{
        font-weight: 700;
        font-size: 30px;
        letter-spacing: 2px;
        margin-right: 50px;
    }
}

.lower__card{
    margin: 25px 25px 100px 25px;
}

mat-header-cell{
    align-content: center;
    font-size: 12px;
    color: black;
    font-weight: bold;
}

mat-sidenav{
    margin-top: 140px;
    height: 450px;
    .sidenav-card{
        mat-card-title{
            margin: 25px;
        }
    }
}

.radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.rb{
    margin-top: 10px;
    margin-left: 25px;
}

.action{
    margin: 5px;
}