<mat-card class="upper__card">
    <mat-card-title>
        <span>Order № {{orderId}}</span>
    </mat-card-title>
    <mat-card-content>
        <span class="content-span">Customer email: <b>{{order?.contactEmail}}</b></span>
        <span class="content-span">Customer name: <b>{{order?.customerFirstName}} {{order?.customerLastName}}</b></span>
        <span class="content-span">Location: <b>{{order?.address}}, {{order?.city}} - {{order?.country}}</b></span>
        <span class="content-span">Order Status: <b>{{order?.orderStatusTitle}}</b></span>
        <span class="content-span">Order Date: <b>{{order?.orderDate | date}}</b></span>
        <span class="content-span">Total Items: <b>{{order?.totalItems}}</b></span>
        <mat-divider></mat-divider>
        <div class="total-cost">
            <span>TotalCost: {{order?.totalCost | currency:'USD'}}</span>
        </div>
    </mat-card-content>
</mat-card>
<mat-card class="lower__card">
    <mat-card-title>Order Items</mat-card-title>
    <mat-card-content>
        <mat-table #table [dataSource]="order?.orderItems">

			<ng-container matColumnDef="id">
				<mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
				<mat-cell *matCellDef="let orderItem"> {{orderItem?.id}}</mat-cell>
			</ng-container>

			<ng-container matColumnDef="cost">
				<mat-header-cell *matHeaderCellDef> Cost </mat-header-cell>
				<mat-cell *matCellDef="let orderItem">
					<span> {{orderItem?.cost | currency:'USD'}} </span>
				</mat-cell>
			</ng-container>

			<ng-container matColumnDef="quantity">
				<mat-header-cell *matHeaderCellDef> Quantity </mat-header-cell>
				<mat-cell *matCellDef="let orderItem"> {{orderItem?.quantity}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="puzzleName">
				<mat-header-cell *matHeaderCellDef> Puzzle </mat-header-cell>
				<mat-cell *matCellDef="let orderItem"> {{orderItem?.puzzle.name}} </mat-cell>
            </ng-container>
            
            <ng-container matColumnDef="itemPrice">
				<mat-header-cell *matHeaderCellDef> Item Price </mat-header-cell>
				<mat-cell *matCellDef="let orderItem"> {{orderItem?.cost / orderItem?.quantity | currency:'USD'}} </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef="tableColumns"></mat-header-row>
			<mat-row *matRowDef="let row; columns: tableColumns;"></mat-row>
		</mat-table>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="accent" matTooltip="Back" [routerLink]="['/administration/orders']">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <button mat-raised-button color="primary" matTooltip="Change order status" (click)="sidenav.toggle()" [disabled]="!isNotAwaitingPayment">Change Status</button>
    </mat-card-actions>
</mat-card>

<mat-sidenav dark #sidenav mode="push" opened="false" fixedInViewport="true">
    <mat-card class="sidenav-card">
        <mat-card-title>
            Change order status to:
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
            <mat-radio-group class="radio-group" [(ngModel)]="changeOrderStatus">
                <mat-radio-button class="rb" *ngFor="let status of orderStatusList" [value]="status?.orderStatusId">{{status?.name}}</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>
        <mat-card-actions align="end">
            <button class="action" mat-mini-fab color="accent" matTooltip="Cancel" (click)="sidenav.toggle()">
                <mat-icon>close</mat-icon>
            </button>
            <button class="action" mat-mini-fab color="primary" matTooltip="Apply changes and Update" (click)="updateOrdrStatus(); sidenav.toggle()">
                <mat-icon>refresh</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</mat-sidenav>