.content-span{
    margin: 5px;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 1.5;
}

.total-cost span{
    font-weight: 700;
    font-size: 30px;
    letter-spacing: 2px;
    margin-right: 50px;
}