<div fxLayout="row | wrap" fxLayoutAlign="space-between center" class="header">
    <div class="logo-div mat-display-1">SpeedCubingStore</div>
    <div fxLayout="column | wrap" fxLayoutAlign="space-between center">

        <div class="header-right-side">
            <div class="container">
                <input type="text" placeholder="Search...">
                <div class="search"></div>
            </div>

            <div fxLayout="row | wrap" fxLayoutAlign="space-between center">
                <div *ngIf="isLoggedIn">
                    Hello, {{accountInfo?.name}}
                </div>

                <div>
                    <span *ngIf="!isLoggedIn" class="action" (click)="onSignInClick()">Sign In</span>
                    <span *ngIf="isLoggedIn" class="action" (click)="onSignOutClick()">Sign out</span>
                </div>

                <div style="margin: 10px 5px 10px 10px;" fxLayout="row | wrap" fxLayoutAlign="end center">
                    <div style="margin-right: 5px;">
                        <mat-icon>shopping_cart</mat-icon>
                    </div>
                    <div>
                        <span>Shopping cart</span>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>

<mat-toolbar color="primary">
    <button *ngIf="isLoggedIn && isInAdminRole" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>list</mat-icon>
    </button>
    <div class="navitems" fxLayout="row | wrap" fxLayoutAlign="center center">
        <div>
            <mat-menu #rubicsCubesMatMenu="matMenu" xPosition="before">
                <span (mouseleave)="closeMenu(0)">
                    <button mat-menu-item *ngFor="let puzzleType of rcPuzzles;"
                        
                        (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}</button>
                </span>
            </mat-menu>
        </div>
        <div class="nav-item">
            <a mat-button [matMenuTriggerFor]="rubicsCubesMatMenu" #menuTrigger1="matMenuTrigger"
                (mouseenter)="openMenu(0)">SpeedCubes</a>
        </div>

        <div>
            <mat-menu #wcaPuzzlesMatMenu="matMenu" xPosition="before">
                <span (mouseleave)="closeMenu(1)">
                    <button mat-menu-item *ngFor="let puzzleType of wcaPuzzles"
                        [routerLink]="['/collections', puzzleType?.title]"
                        (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}</button>
                </span>
            </mat-menu>
        </div>
        <div class="nav-item">
            <a [matMenuTriggerFor]="wcaPuzzlesMatMenu" #menuTrigger2="matMenuTrigger" (mouseenter)="openMenu(1)">WCA
                Puzzles</a>
        </div>

        <div class="nav-item">
            <a mat-button>Other puzzles</a>
        </div>

        <div class="nav-item">
            <a mat-button>New</a>
        </div>

        <div class="nav-item">
            <a mat-button>Accessories</a>
        </div>
    </div>
</mat-toolbar>


