<div fxLayout="row | wrap" fxLayoutAlign="space-between center" class="header">
    <div class="logo-div mat-display-1"><span class="red-color-span">S</span>peed<span class="red-color-span">C</span>ubing<span class="red-color-span">S</span>tore</div>
    <div>
        <img src="../../assets/images/scslogo.png" style="width: 100px; height: 100px;" alt="">
    </div>
    <div fxLayout="column | wrap" fxLayoutAlign="space-between center">

        <div class="header-right-side">
            <div>
                <mat-form-field class="example-form-field" >
                    <mat-label>Search</mat-label>
                    <input matInput type="text">
                    <button mat-button matSuffix mat-icon-button aria-label="Search">
                      <mat-icon color="primary">search</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
            <div fxLayout="row | wrap" fxLayoutAlign="space-between center">
                <div *ngIf="isLoggedIn" class="hello">
                   <span>Hello, {{accountInfo?.name}}!</span>
                </div>

                <div>
                    <div *ngIf="!isLoggedIn">
                        <span  class="action" (click)="onSignInClick()">Sign In</span>
                        <span> or </span>
                        <span class="action" (click)="onCreateAccountClick()">Create Account</span>
                    </div>
                    <span *ngIf="isLoggedIn" class="action" (click)="onSignOutClick()">Sign out</span>
                </div>

                <div *ngIf="isLoggedIn" style="margin: 10px 5px 10px 15px;" fxLayout="row | wrap" fxLayoutAlign="end center">
                    <div style="margin-right: 5px;">
                        <mat-icon>shopping_cart</mat-icon>
                    </div>
                    <div>
                        <span>Shopping cart</span>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>

<mat-toolbar color="primary">
    <button *ngIf="isLoggedIn && isInAdminRole" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>list</mat-icon>
    </button>
    <div class="navitems" fxLayout="row | wrap" fxLayoutAlign="center center">
        <div>
            <mat-menu #rubicsCubesMatMenu="matMenu" xPosition="before">
                <span (mouseleave)="closeMenu(0)">
                    <button mat-menu-item *ngFor="let puzzleType of rcPuzzles;"
                        
                        (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}</button>
                </span>
            </mat-menu>
        </div>
        <div class="nav-item">
            <span class="nav-span" mat-button [matMenuTriggerFor]="rubicsCubesMatMenu" #menuTrigger1="matMenuTrigger"
                (mouseenter)="openMenu(0)">SpeedCubes</span>
        </div>

        <div>
            <mat-menu #wcaPuzzlesMatMenu="matMenu" xPosition="before">
                <span (mouseleave)="closeMenu(1)">
                    <button mat-menu-item *ngFor="let puzzleType of wcaPuzzles"
                        [routerLink]="['/collections', puzzleType?.title]"
                        (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}</button>
                </span>
            </mat-menu>
        </div>
        <div class="nav-item">
            <span class="nav-span" [matMenuTriggerFor]="wcaPuzzlesMatMenu" #menuTrigger2="matMenuTrigger" (mouseenter)="openMenu(1)">WCA
                Puzzles</span>
        </div>

        <div class="nav-item">
            <a mat-button>Other puzzles</a>
        </div>

        <div class="nav-item">
            <a mat-button>New</a>
        </div>

        <div class="nav-item">
            <a mat-button>Accessories</a>
        </div>
    </div>
</mat-toolbar>


