<!-- <div fxLayout="row | wrap" fxLayoutAlign="space-between center" class="header">
    <div class="logo-div mat-display-1"><span class="red-color-span">S</span>peed<span class="red-color-span">C</span>ubing<span class="red-color-span">S</span>tore</div>
    <div>
        <img src="../../assets/images/scslogo.png" style="width: 100px; height: 80px;" alt="">
    </div>
    <div fxLayout="column | wrap" fxLayoutAlign="space-between center">

        <div class="header-right-side">
            <div>
                <mat-form-field class="example-form-field" >
                    <mat-label>Search</mat-label>
                    <input matInput type="text">
                    <button mat-button matSuffix mat-icon-button aria-label="Search">
                      <mat-icon color="primary">search</mat-icon>
                    </button>
                  </mat-form-field>
            </div>
            <div fxLayout="row | wrap" fxLayoutAlign="space-between center">
                <div *ngIf="isLoggedIn" class="hello">
                   <span>Hello, {{accountInfo?.name}}!</span>
                </div>

                <div>
                    <div *ngIf="!isLoggedIn">
                        <span  class="action" (click)="onSignInClick()">Sign In</span>
                        <span> or </span>
                        <span class="action" (click)="onCreateAccountClick()">Create Account</span>
                    </div>
                    <span *ngIf="isLoggedIn" class="action" (click)="onSignOutClick()">Sign out</span>
                </div>

                <div *ngIf="isLoggedIn" style="margin: 10px 5px 10px 15px;" fxLayout="row | wrap" fxLayoutAlign="end center">
                    <div style="margin-right: 5px;" (click)="openShoppingCart()">
                        <mat-icon class="shop-cart-icon">shopping_cart</mat-icon>
                    </div>
                    <div>
                        <span class="shop-cart" (click)="openShoppingCart()">Shopping cart</span>
                    </div>
                </div>


            </div>

        </div>

    </div>
</div>

<mat-toolbar color="primary">
    <button *ngIf="isLoggedIn && isInAdminRole" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon mat-list-icon>list</mat-icon>
    </button>
    <div class="navitems" fxLayout="row | wrap" fxLayoutAlign="center center">
        
        <div>
            <mat-menu #rubicsCubesMatMenu="matMenu" xPosition="before">
                <span (mouseleave)="closeMenu(0)">
                    <button mat-menu-item *ngFor="let puzzleType of rcPuzzles;"
                        
                        (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}</button>
                </span>
            </mat-menu>
        </div>
        <div class="nav-item">
            <span class="nav-span" mat-button [matMenuTriggerFor]="rubicsCubesMatMenu" #menuTrigger1="matMenuTrigger"
                (mouseenter)="openMenu(0)">SpeedCubes</span>
        </div>

        <div>
            <mat-menu #wcaPuzzlesMatMenu="matMenu" xPosition="before">
                <span (mouseleave)="closeMenu(1)">
                    <button mat-menu-item *ngFor="let puzzleType of wcaPuzzles"
                        [routerLink]="['/collections', puzzleType?.title]"
                        (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}</button>
                </span>
            </mat-menu>
        </div>
        
        <div class="nav-item">
            <span class="nav-span" [matMenuTriggerFor]="wcaPuzzlesMatMenu" #menuTrigger2="matMenuTrigger" (mouseenter)="openMenu(1)">WCA
                Puzzles</span>
        </div>
        <div class="nav-item"><a mat-button>Other puzzles</a></div>
        <div class="nav-item"><a mat-button>New</a></div>
        <div class="nav-item"><a mat-button>Accessories</a></div>
    </div>
</mat-toolbar>

<mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
        <mat-nav-list>

        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>

 -->


<div style="height: fit-content">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="end center">
            <div fxShow="true" fxHide.lt-md fxLayout="row" fxLayoutAlign="space-between center" style="width: 75%;">
                
                <div class="logo-div mat-display-1"><span class="red-color-span">S</span>peed<span class="red-color-span">C</span>ubing<span class="red-color-span">S</span>tore</div>
                <!-- <span class="menu-spacer"></span> -->
                <div style="display: flex; align-items: center; justify-content: center;">
                    <div *ngIf="isLoggedIn" class="hello">
                        <span>Hello, {{accountInfo?.name}}!</span>
                     </div>
                     <div>
                        <div *ngIf="!isLoggedIn">
                            <span  class="action" (click)="onSignInClick()">Sign In</span>
                            <span> or </span>
                            <span class="action" (click)="onCreateAccountClick()">Create Account</span>
                        </div>
                        <span *ngIf="isLoggedIn" class="action" (click)="onSignOutClick()">Sign out</span>
                    </div>
                    <div *ngIf="isLoggedIn" style="margin: 0px 5px 0px 15px;" fxLayout="row | wrap" fxLayoutAlign="end center">
                        <div style="margin-right: 5px;" (click)="openShoppingCart()">
                            <mat-icon class="shop-cart-icon">shopping_cart</mat-icon>
                        </div>
                        <div>
                            <span class="shop-cart" (click)="openShoppingCart()">Shopping cart</span>
                        </div>
                    </div>
                </div>
            </div>
        </mat-toolbar-row>

        <mat-toolbar-row >
            <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
                <mat-icon>menu</mat-icon>
            </button>
            <div>
                <mat-menu #rubicsCubesMatMenu="matMenu" xPosition="before">
                    <span (mouseleave)="closeMenu(0)">
                        <button mat-menu-item *ngFor="let puzzleType of rcPuzzles;"
                            (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}
                        </button>
                    </span>
                </mat-menu>
            </div>
            <div>
                <mat-menu #wcaPuzzlesMatMenu="matMenu" xPosition="before">
                    <span (mouseleave)="closeMenu(1)">
                        <button mat-menu-item *ngFor="let puzzleType of wcaPuzzles"
                            [routerLink]="['/collections', puzzleType?.title]"
                            (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}</button>
                    </span>
                </mat-menu>
            </div>
            
            
            <div fxShow="true" fxHide.lt-md fxLayout="row" fxLayoutAlign="center center" style="width: 100%;">
                <button *ngIf="isLoggedIn && isInAdminRole" mat-icon-button (click)="sidenav.toggle()">
                    <mat-icon mat-list-icon>list</mat-icon>
                </button>
                <div class="nav-item">
                    <span class="nav-span" mat-button [matMenuTriggerFor]="rubicsCubesMatMenu" #menuTrigger1="matMenuTrigger"
                        (mouseenter)="openMenu(0)">SpeedCubes
                    </span>
                </div>
                <div class="nav-item">
                    <span class="nav-span" [matMenuTriggerFor]="wcaPuzzlesMatMenu" #menuTrigger2="matMenuTrigger" (mouseenter)="openMenu(1)">WCA
                        Puzzles
                    </span>
                </div>
                <div class="nav-item"><a mat-button>Other puzzles</a></div>
                <div class="nav-item"><a mat-button>New Puzzles</a></div>
                <div class="nav-item"><a mat-button>Accessories</a></div>
            </div>
            <mat-form-field class="search">
                <mat-label>Search</mat-label>
                <input matInput type="text">
                <button mat-button matSuffix mat-icon-button aria-label="Search">
                  <mat-icon color="primary">search</mat-icon>
                </button>
            </mat-form-field>
        </mat-toolbar-row>
    </mat-toolbar>

    <!-- <mat-sidenav-container fxFlexFill>
        <mat-sidenav #sidenav style="background-color: white;">
            <div>
                <mat-menu #wcaPuzzlesMatMenu="matMenu" xPosition="before">
                    <span (mouseleave)="closeMenu(1)">
                        <button mat-menu-item *ngFor="let puzzleType of wcaPuzzles"
                            [routerLink]="['/collections', puzzleType?.title]"
                            (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}
                        </button>
                    </span>
                </mat-menu>
            </div>
            <mat-nav-list>
                <a (click)="sidenav.toggle()" href="" mat-list-item>Close</a>
                <mat-expansion-panel *ngIf="isLoggedIn && isInAdminRole">
                    <mat-expansion-panel-header>
                        <span mat-button>Admin</span>
                    </mat-expansion-panel-header>
                    <mat-nav-list>
                        <a mat-list-item><span mat-line [routerLink]="['administration/puzzles']">Puzzles</span></a>
                        <a mat-list-item [routerLink]="['administration/manufacturers']"><span mat-line>Manufacturers</span></a>
                        <a mat-list-item [routerLink]="['administration/puzzletypes']"><span mat-line>Puzzle Types</span></a>
                        <a mat-list-item [routerLink]="['administration/puzzlecolors']"><span mat-line>Puzzle Colors</span></a>
                        <a mat-list-item [routerLink]="['administration/users']"><span mat-line>Users</span></a>
                        <a mat-list-item [routerLink]="['administration/orders']"><span mat-line>Orders</span></a>
                    </mat-nav-list>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span mat-button>SpeedCubes</span>
                    </mat-expansion-panel-header>
                    <button mat-menu-item *ngFor="let puzzleType of rcPuzzles;"
                        (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}
                    </button>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <span mat-button>WCA Puzzles</span>
                    </mat-expansion-panel-header>
                    <button mat-menu-item *ngFor="let puzzleType of wcaPuzzles"
                        [routerLink]="['/collections', puzzleType?.title]"
                        (click)="onClick(puzzleType?.title)">{{puzzleType?.title}}
                    </button>
                </mat-expansion-panel>
                <div class="nav-item"><a mat-button>Other puzzles</a></div>
                <div class="nav-item"><a mat-button>New Puzzles</a></div>
                <div class="nav-item"><a mat-button>Accessories</a></div>
            </mat-nav-list>
        </mat-sidenav>
    </mat-sidenav-container> -->
</div>