@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');


.navbar {
    position: absolute;
    right: 0;
}

.navitems {
    width: 100%;
    /* margin-left: 60px; */
}

.nav-item{
    margin: 15px;
    padding: 5px;
}

a {
    padding-left: 1rem;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
}