<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
  <ul class="carousel-inner" #carousel>
    <li *ngFor="let item of items" class="carousel-item">
      <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
    </li>
  </ul>
</section>
<ng-container *ngIf="showControls">
  <div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 10px;">
    <div>
      <button mat-mini-fab color="primary" style="margin-right: 5px;" (click)="prev()">
        <mat-icon>chevron_left</mat-icon>
      </button>
    </div>
    <div>
      <button mat-mini-fab color="primary" style="padding-left: 5px;" (click)="next()">
        <mat-icon>chevron_right</mat-icon>
      </button>
    </div>
  </div>
</ng-container>
